[2015-09-30 21:30] ismyrnow opened #7 ""Maximum call stack size exceeded" on build"
My ember-cli builds are failing since introducing ember-fetch as a dependency.

This may be an issue with broccoli-stew, but hopefully the stack trace below will help pinpoint the exact issue.

I'm on Windows 8.1 using ember-cli v0.2.3.

I know this version of ember-cli is out of date. I can update my global cli version, but updating the app isn't an option.

[code]

[2015-10-01 12:28] knownasilya commented on #7
On OSX I don't see this error, but I do see triples of every build.

[2015-10-01 15:13] stefanpenner commented on #7
this version of ember-cli is quite old, and not supported. I would recommend upgrading.

What does this mean? Maybe this deserves its own issue

[2015-10-01 15:28] knownasilya commented on #7
Ok, seems like it was solved some how (restart of laptop), maybe it was a watchman issue. Ignore my comment.

[2015-10-01 15:39] stefanpenner commented on #7
:+1: I suspect this is problem you mention will go away once i land the next batch of broccoli perf work. Sorry for any interim pains.

[2015-10-02 13:11] ismyrnow commented on #7
We upgraded our app to the latest ember-cli, and I am still unable to build the project. This time, with a different error message:

[code]

I have tried the following:

- Deleting my tmp and dist folders before building.
- Reinstalling all dependencies (including cleaning my npm and bower cache, as described in the ember-cli update docs).
- Reinstalling my global ember-cli module.
- Rebooting my

[2015-10-02 13:32] calvinmetcalf commented on #7
if I put a console.log [here](https://github.com/stefanpenner/ember-fetch/blob/15fca46eb7c55458063d06ddc7018d9e69c01381/index.js#L28) for 'fetch' I also see that error, but on a mac it apparently ignore it?

[2015-10-02 13:56] ismyrnow commented on #7
I cloned this repo and tried to run the tests locally, and I received the same error message as before.

Note that this project depends on ember-cli@0.2.3 for tests, which is the same version we were using previously, and the error message is the same as I encountered previously.

[code]

[2015-10-02 15:00] ismyrnow commented on #7
Some poking around shows that the issue is when calling `find(expandedFetchPath)` [here](https://github.com/stefanpenner/ember-fetch/blob/master/index.js#L25).

I suspect that some of the tools in `broccoli-stew` aren't windows compatible due to using `/` for path separators. When I use `path.sep` in the `index.js` file of this project, the underlying modules still seem to throw errors.

For examp

[2015-10-02 16:44] stefanpenner commented on #7
@ismyrnow that looks like a broccoli-stew bug, it shouldn't be passing through the `{`. Maybe its something funky re: windows paths `\`

[2015-10-19 16:26] chrismllr opened #9 ""Invalid Mapping" from ember-cli-uglify on build"
Getting this error on minify from ember-cli-uglify on build...

[code]

This may be an issue in the actual github-fetch polyfill ?

Ember CLI v1.13.7
Ember v1.13.10

[2015-10-19 16:49] chrismllr commented on #9
I apologize, I found this issue elsewhere, it is related to ember-cli-uglify. Closing this issue.
https://github.com/ember-cli/ember-cli-uglify/issues/4

[2015-10-19 16:49] #9 closed

[2015-10-29 13:41] ismyrnow commented on #7
I tried updating the path building code to use system path separators (`path.sep`), but it didn't make a difference. I got a different error, but as I recall, similar stack traces.

[2015-11-07 09:16] stefanpenner commented on #7
many related bugs have been fixed on broccoli-stew, if the related issue is not fixed on the latest version, will gladly reopen.

[2015-11-20 21:40] ismyrnow commented on #7
Did fresh install of all dependencies (including cache cleaning) and I'm still getting similar errors.

Without any changes, I get a `EEXIST: file already exists` error during ember build.

My attempts at tracking this down have been unfruitful. I agree that it may be related to path separators on Windows. Digging into various dependencies (`broccoli-stew`, `broccoli-templater`,and `broccoli-funne

[2015-11-24 15:23] DLiblik commented on #7
This comment is a NOOP, but just for further affirmation, as a safety rule we regex \ to / as an input guard on any Windows-hosted broccolis we run as the good old Windows backslash seems to cause rabbit holes that were mysteriously claiming devs on our team. Given broccoli's focus on paths, I think this needs to be solved in the bedrock.

[2015-11-24 18:45] stefanpenner commented on #7
there is nothing wrong with hard-coded path separators, all fs operations normalize before doing actual work. Like we are doing some comparison somewhere, causing grief.

[2015-11-24 18:52] DLiblik commented on #7
If it helps, we did it to ourselves most often on some of our own custom nodes when we used .split('/') to segment a path when processing custom steps during ember-cli builds - that was our most common usage of explicit paths (versus fs doing the normalization in other cases as @stefanpenner points out).  For anyone desperate for a workaround, explicitly normalizing input path variables with .repl

[2015-11-24 18:53] stefanpenner commented on #7
For reference, I have been going around doing: https://github.com/joliss/node-walk-sync/blob/master/index.js#L26-L32

[2015-11-24 18:54] DLiblik commented on #7
That's a better approach - deleting my prior comment.

[2015-11-24 19:06] stefanpenner commented on #7
making it a node_module \w tests now

[2015-11-24 19:18] stefanpenner commented on #7
https://github.com/stefanpenner/ensure-posix-path

[2015-11-24 19:24] stefanpenner commented on #7
looking into this one now, have a failing test on broccoli-stew. Going to add some more related win32 tests.

Going forward, it would be quite helpful if failing test cases be provided.

[2015-11-25 03:26] stefanpenner commented on #7
I have fixed all issues I can find in broccoli-stew (related to this issue), there appears to be a broccoli-funnel issue. I hope to dig into that one next.

Stay tunned.

[2015-11-25 18:36] stefanpenner commented on #7
I believe I have addressed the issue [here](https://github.com/stefanpenner/broccoli-stew/pull/96) stew now includes this use-case explicitly in its test suite https://github.com/stefanpenner/broccoli-stew/pull/96/files#diff-bb2e0e63dee5aa59701fe153f0a81d0eR297

I'm going to add windows CI to this project before closing the issue

[2016-01-14 16:19] ismyrnow commented on #7
If I update the "broccoli-stew" dependency to "^1.2.0", I am able to successfully build on my Windows machine. Do you suspect any breaking changes to this project for switching from 0.x to 1.x there?

[2016-02-04 21:29] aquamme opened #12 "Are autoruns expected?"
I'm finding that ember-fetch is consistently creating autoruns when xhr.onload or reader.onload is triggered. Is this intended? I'm encountering issues with my acceptance tests finishing and being torn down before requests finish and I'm trying to track down the cause.

[2016-02-05 23:05] aquamme commented on #12
I figured out my test issue, but the question about autoruns remains.

[2016-02-05 23:15] stefanpenner commented on #12
can you share an example of when this happens? Promises should be immune to auto-run assertions, because they handle it more or less correctly. Must interactions I can think of here should be as such, its possible im just missing your likely obvious scenario.

[2016-02-08 15:16] aquamme commented on #12
To be clear - I'm not seeing any autorun assertions fail. When I was trying to track down my test issues I noticed that `createAutorun` was being called after every fetch. It sounds like this isn't a problem unless the assertion fails?

[2016-02-08 16:40] stefanpenner commented on #12
Correct. Promises settling based on native async are blessed here, as they should absorb issues correctly.

[2016-02-08 16:40] #12 closed

[2016-02-19 21:26] kategengler opened #13 "Should this wrapper use native fetch, when available?"
I spent some time today writing some tests to expose what I thought was a bug here -- the polyfill is always used by `ember-fetch`; it will never fall back to native fetch, even when its available.

I was sure this was a bug until I found https://github.com/pretenderjs/pretender/issues/60 with comments indicating that it was intended that this addon always uses the polyfill.

It's been almost a ye

[2016-03-31 14:33] stefanpenner commented on #13
I don't believe we should use native fetch, the reason is as follows:

* the polyfil (as-is) doesn't cover the entire API surface
* having features that only work in non-polyfilled version, leads our users down a trap (IMHO).

The idea of this library was to explore the fetch API, and make it so users using it could in the future migrate cleanly to the real thing.

I would love to make it fallback

[2016-04-01 00:20] #7 closed

[2016-04-01 00:20] stefanpenner commented on #7
1.3.0 should fix this (just tested in windows, seems to do the right thing)

[2016-04-01 00:20] stefanpenner commented on #13
will reopen if someone disagrees with my above statement, and we can revisit.

[2016-04-01 00:20] #13 closed

[2016-04-15 20:03] ismyrnow commented on #7
Just confirmed that I can successfully run `npm test` for this project. The output is bower install stuff, ember build, then tests run with phantomjs.

On a side note, the tests seem to run indefinitely. It looped through at least 3 install/build/test iterations before I shut it down. Seems more like an ember-cli issue, though.

[2016-04-15 20:07] knownasilya commented on #7
Tests run thorough ember-try (https://github.com/stefanpenner/ember-fetch/blob/master/config/ember-try.js) which tests a matrix of ember versions.

[2016-04-15 20:48] stefanpenner commented on #7
sounds like you need to be more patient, the tests run many permutations.

[2016-04-17 00:33] ismyrnow commented on #7
Didn't know what ember-try was doing. Thanks for the info.

[2016-11-15 10:35] toranb opened #15 "[Question]: why no "failed to find import" message when using fetch?"
I was doing some hacking with ember-fetch as usual this morning and spent a good deal of time looking at my mirage configuration/ other dependencies because a fetch based POST was resulting in a 404. Many hours later I finally found that my component was missing the import (and nothing more).

```import fetch from 'fetch';```

Any idea why the build didn't blow up w/out this to begin with? I wante

[2016-12-13 23:53] tchak commented on #15
It did not blow up because you were using native `fetch`. I understand your frustration, but I am not sure I understand the behaviour you expected.

[2016-12-14 01:50] toranb commented on #15
@tchak ah, didn't realize :) so it's the fact that I'm using Chrome that was the issue (assuming it supports native fetch?)

The problem would seem to be that native fetch and ember-fetch are different I assume - no immediate solution comes to mind I suppose. Mostly trying to understand if something could be done to help others

[2016-12-14 01:50] #15 closed

[2017-01-13 16:00] dustinfarris opened #18 "1.4.0 breaks for addons"
Probably needs in included:

[code]

Also, even if I fix that part, it seems to conflict with ember-network/fetch somehow.  e.g. my addon uses ember-fetch.  my app uses the addon with ember-fetch and also ember-simple-auth which depends on ember-network.  If i add the above to ember-fetch for my addon , in my app ember-simple-auth starts throwing a fit about not being able to import fetch from emb

[2017-03-15 10:54] craigbilner opened #19 "self is not window => always polyfilling"
Hi,

I'm having a bit of an issue with both this lib and [ember-network](https://github.com/tomdale/ember-network). They both wrap the `whatwg-fetch` in an IIFE which tests `self.fetch` _but_ `self` is not `window`.

It lives inside this IIFE:

[code]

at this point `self` is a pojo which means `fetch` is **always polyfilled**. I'm not overly familiar with the `reification` process but I can't qui

[2017-03-24 16:08] rwjblue opened #21 "Deprecate in favor of ember-network?"
[ember-network](https://github.com/tomdale/ember-network) also provides `fetch` from `whatwg-fetch`, but it supports fastboot and browser environments.

Should we deprecate this addon in favor of that one?

[2017-04-03 09:57] Turbo87 commented on #21
it seems that `ember-fetch` is doing roughly the same: https://github.com/stefanpenner/ember-fetch/blob/f24cc4f28bb73542c11cb048fdb6ff31e1e06af5/index.js#L10-L13

[2017-04-03 11:03] rwjblue commented on #21
Yep, which argues even more for deprecating one of them 😜

[2017-04-05 00:10] tchak commented on #21
@rwjblue `ember-fetch` is much more uptodate then `ember-network`. I tried to make pull requests to `ember-network` but they were ignored. I am happy to help with whatever decision is made but I already ported once back and forth between both repositories. So if a clear decision is made on something, I will help. In the mean time I will continue to update `ember-fetch`.

[2017-04-05 00:13] tchak commented on #19
@craigbilner this is by design for this addon. We can not reasonably use native `fetch` until `pretender` supports `fetch`.

[2017-04-05 00:13] stefanpenner commented on #21
I believe ember-network was copied from here, with lofty goals of being more then just `fetch`. If it is just fetch, we should just use this one. If it is actually more we should use that one.

I would gladly maintain one, but not both...

[2017-04-05 00:14] stefanpenner commented on #21
cc @tomdale whats your plan for ember-network

[2017-04-05 00:14] #19 closed

[2017-04-05 00:15] stefanpenner commented on #19
This is also so that features that are not polyfillable are not accidentally leaked forward.

I'm not apposed to changing this, or making it configurable, but allowing fallback as it stands currently poses a hefty risk.

[2017-04-05 01:59] stefanpenner commented on #21
My recommendation is to keep this one, as it is the original and continues to be maintained.

[2017-04-05 02:08] stefanpenner commented on #21
flipped it around: https://github.com/tomdale/ember-network/issues/17

[2017-04-05 02:11] rwjblue commented on #21
Agreed.

[2017-04-05 07:32] craigbilner commented on #19
thanks @tchak @stefanpenner

Could we make it configurable and/or update the README to this effect? Others may think they're getting fetch when they're not and may not use Pretender?

[2017-04-05 14:28] stefanpenner commented on #19
Yup would accept pr doing so

[2017-04-12 19:39] nickschot opened #26 "Import `fetch from 'fetch'` not working w/ 1.4.0"
Doing `import fetch from 'fetch'` throws a `ember.debug.js:18015 Error: Could not find module 'fetch'` on 1.4.0. Works fine on 1.3.0

- Ember-Cli 2.12.1 w/ latest dependencies
- Node 7.4.0

[2017-04-12 21:10] ef4 commented on #26
Can you check if your app has ember-network in its dependencies? `npm ls | grep ember-network`

If so I think #27 solves this.

[2017-04-12 21:13] #26 closed

[2017-04-12 21:31] nickschot commented on #26
Not explicitly, it seems that ember-simple-auth included ember-network as a dependency.

From #21 I chose ember-fetch instead of ember-network for my own needs.

Thanks for the quick fix guys!

[2017-04-12 22:11] ef4 commented on #26
We should PR ember-simple-auth to switch to this one.

On Wed, Apr 12, 2017 at 5:31 PM Nick Schot <notifications@github.com> wrote:

[2017-04-15 08:37] nickschot commented on #26
@ef4 and maybe fastboot too? Just stumbled upon the guide: https://ember-fastboot.com/quickstart

[2017-06-05 01:22] toranb opened #33 "Anyone using this w/ typescript yet?"
I'm looking around for a type def file for `ember-fetch` and thought I might give `npm install --save @types/whatwg-fetch` a look first / but during that time I wanted to see if others are already using this with TS

[2017-06-05 02:06] toranb commented on #33
For anyone who might follow - until this is supported legit I've got a simple type defs repo up that seems to make the compiler happy for now

https://github.com/toranb/ember-fetch-tsdefs/blob/master/index.d.ts

[code]

[2017-06-05 14:04] stefanpenner commented on #33
Is there a downside to submitting those types to this repo?

[2017-06-05 14:17] toranb commented on #33
@stefanpenner good question .. mostly that Toran is the furthest thing from "expert types ninja" at the moment. If someone else can jump in and confirm "yup -looks legit bro" then I say we could ship it and iterate

Here is how I'm using that btw

[code]

[2017-06-05 15:15] stefanpenner commented on #33
@toranb if you have cycles to submit it as a PR, I can gladly take a look :). I'll also bug señor @krisselden (our resident guru) to review.

[2017-06-05 17:20] toranb commented on #33
@stefanpenner it's possible - 2 questions related to submitting a PR for this

1) how does one test this? it could require we add typescript to this repo as a devDependency
2) what min version of typescript will we support? I'm using TS v2.3 right now for example

[2017-06-06 00:12] toranb commented on #33
example of [typescript-definition-tester](https://github.com/adamcarr/typescript-definition-tester) in action

https://github.com/gaearon/redux-thunk/pull/77/files

note: this could be considered "over kill" - worth mentioning either way

[2017-06-06 15:30] stefanpenner commented on #33
I'll ask @krisselden to chime in.

[2017-06-06 15:32] stefanpenner commented on #33
@toranb i suspect just running the ts validate step is sufficient for testing.

[2017-06-07 01:21] toranb commented on #33
@stefanpenner good call boss - I'll wait to hear from @krisselden on what he thinks of these type defs :)

[2017-06-07 11:55] toranb commented on #33
@stefanpenner closing this out for now - we can continue discussion in the PR

[2017-06-07 11:55] #33 closed

[2017-06-14 11:39] orf opened #35 "Fetch promises always resolving"
Hello,
I'm using Ember 2.9, and it appears that the promise returned from` fetch` always resolves, even if there is an error.

I think it's down to this line: https://github.com/stefanpenner/ember-fetch/blob/c2cbcb97a1dfd6605b02c7ea4e8627d5cea5add6/assets/browser-fetch.js.t#L20

Returning the value rather than throwing it seems to trigger the `success` route in the Ember `invokeCallback` function.

[2017-06-14 11:54] cibernox commented on #35
`fetch` by design only rejects if there is a network issue(being offline p.e). You need to check fir

[2017-06-14 12:00] orf commented on #35
So even if the site I'm connecting to is offline, it's still a successful promise?

I understand that it doesn't reject on status codes, but not rejecting on network errors is confusing. Thanks anyway!

[2017-06-14 12:07] cibernox commented on #35
On network errors it should reject indeed. If it doesn't it's a bug, but this polyfill is so popular that I don't think that's possible. Are you talking about tests?

[2017-06-14 12:48] orf commented on #35
I've got a fiddle here: https://ember-twiddle.com/625abf7d2eff52a579bf2d82c1eceadc?openFiles=controllers.application.js%2C

I am behind a proxy, but still, there seems to be a difference. Can you replicate this?

[2017-06-14 12:54] orf commented on #35
Using `1.4.0` results in `true` for all 4 cases. It appears that this change (https://github.com/stefanpenner/ember-fetch/commit/10ea9e15f12723df6e4aaf24a2196cde7944000b) may have introduced it.

[2017-06-14 13:28] cibernox commented on #35
Actually I see the error now. I'll see if I can fix it tonight. Essentially we need to return a rejected promise from the second then so we propagate the rejection

[2017-06-14 13:56] rwjblue commented on #35
Damn.  Yes, I need to rethrow. :man_facepalming:

[2017-06-15 15:54] stefanpenner commented on #35
@rwjblue / @cibernox just a headsup. Master will be a major version bump. So I have created a release-2 branch for all work destined for a 2x release (which this seems part of)

https://github.com/stefanpenner/ember-fetch/commits/release-2

[2017-06-15 17:00] stefanpenner opened #38 "ember-fetch + fastboot + ember-data sadness"
fastboot and fetch share the same extension point in ember-data, and today they do not work together.

Long-term, I suspect fastboot should provide and XMLHTTPRequest global, and a fetch global. That way it doesn't interfere in high level code, and would also "just work" with things like pretender/mirage.

[2017-06-20 07:57] Turbo87 opened #41 "Changelog missing"
What breaking changes do v2.0.0 and v3.0.0 include?

[2017-06-24 19:54] #35 closed

[2017-06-25 22:26] rwjblue opened #45 "Avoid import when targets support native `fetch`"
We can use `this.project.targets` to determine if the `whatg-fetch` polyfill is required for the browser builds, and avoid `app.import`ing it when it is not needed.

See [browser support](http://caniuse.com/#search=fetch).  Roughly includes all evergreen browsers (FireFox, Edge, Chrome, Safari)...

[2017-06-25 22:37] cibernox commented on #45
I agree, but there was some fear for two things:

- Possible edge cases in which the polyfill doesn't behave perfectly
- The problem that pretender.js will not work with fetch, and it is VERY popular. We need pretender-fetch to happen.

[2017-06-25 22:40] rwjblue commented on #45
I'm not sure what you mean here.

I believe that _someone_ was working on this already, do you recall that?

[2017-06-25 22:49] cibernox commented on #45
I mean that @stefanpenner was concerned that perhaps people in development had modern targets and things work but when they deploy to prod, with the polyfill, something is different in some subtle way. I don't buy that argument a lot tho.

I recall, it was me 🤣 . I really need to come back to that.

[2017-06-25 22:52] kratiahuja commented on #45
I am curious to understand why fetch will not work with pretender? Pretender just replaces the XHR layer with Fake XHR AFAIU. If fetch (with the polyfill) is calling XHR under the hood, you don't need a pretender-fetch. Example: if you use jQuery.ajax pretender doesn't do anything special.

[2017-06-25 22:58] rwjblue commented on #45
The goal of this issue is to **avoid** including the polyfill at all, when the browsers that the application supports already have native `fetch`.

[2017-06-26 05:19] kratiahuja commented on #45
Agreed, my question is more around to understand why pretender will not work with `fetch` in testing (if your tests are already running against browsers that support fetch)? pretender should be agnostic to the high-level network interface being used (whether fetch/jQuery.ajax) etc.

[2017-06-26 05:38] rwjblue commented on #45
Pretender currently only captures requests that go through XHR. When native fetch is used its requests will no longer funnel through XHR and therefore Pretender will not be able to intercept. @cibernox has a spike for a "fake fetch" (akin to FakeXHR which pretender uses now), which should address this concern (though I actually do not consider it a blocker).

[2017-07-11 05:05] cahyowhy opened #53 "indicating progressbar"
how to provide a progress when post or get wit this library?
i tried this but doesnt work?
[code]

[2017-07-12 09:09] tchak commented on #53
`fetch` have no support for `progress` events. The solution is to use streams. But the streams are not supported in polyfill. This is how it is supposed to work https://jakearchibald.com/2015/thats-so-fetch/#streams

[2017-07-12 09:10] tchak commented on #21
This is done on the `ember-network` side. Closing.

[2017-07-12 09:10] #21 closed

[2017-07-12 15:26] BlueRaja commented on #26
We are seeing this issue in a large project, running the latest version (3.2.8), with no dependencies running `ember-network`.  Reverting to 1.3.0 does fix the issue.  No idea how to even debug this.

[2017-07-12 17:23] ef4 commented on #26
@BlueRaja this bug was fixed in ember-fetch version 1.4.2. If you are on that version or newer, please open a separate issue.

[2017-07-12 17:38] BlueRaja opened #55 "`Import fetch from 'fetch'` not working w/ 3.2.8"
Running `ember-fetch` in a Fastboot enabled app, we see the same issue mentioned in https://github.com/ember-cli/ember-fetch/issues/26

Running without Fastboot works fine.

The project is huge so I'm not sure if this is a straight-up an `ember-fetch` issue, or a complex mix of other factors.  We don't have any dependencies relying on `ember-network`.

[2017-07-12 17:57] kratiahuja commented on #55
@BlueRaja it would be great if you could provide a minimal reproduction of this issue.

[2017-07-13 23:52] #53 closed

[2017-07-15 23:23] knownasilya commented on #55
I see something else, also with 3.2.8

[code]

[2017-07-16 00:31] knownasilya commented on #55
Looks like https://github.com/ember-cli/ember-fetch/blob/master/index.js#L84 targets `vendor/*` but the fastboot fetch was moved to `public/`

[2017-07-16 02:49] kratiahuja commented on #55
@knownasilya That's the browser version which is wrapped with `if (typeof FastBoot === 'undefined') {..}` check. The Node version of fetch is present in the manifest here: https://github.com/ember-cli/ember-fetch/blob/master/index.js#L91. What's ESA?

From your stack trace it seems sandbox globals in FastBoot aren't being set. Can you put in a minimal reproduction? I would be happy to look into it

[2017-07-16 14:47] knownasilya commented on #55
I'm not running Fastboot, that's the problem 😄 ESA is Ember Simple Auth, like #26 mentions might be related. But I think this is a different issue.

[2017-07-17 14:53] deepan83 opened #56 "Usage in a glimmer app"
Is there a way to use this in a Glimmer app while app.import is being sorted in the Glimmer build pipeline?

[2017-07-31 18:51] webark opened #58 "Handling error payloads in the adapter mixin"
In the [ajaxError method](https://github.com/ember-cli/ember-fetch/blob/master/addon/mixins/adapter-fetch.js#L244-L255) only the `response.statusText` is being passed to the `this.parseErrorResponse` method, but if a error payload has been passed back, it places the body in a `_bodyText` [property](https://github.com/github/fetch/blob/master/fetch.js#L388).

It would be nice to have a new method t

[2017-08-01 16:47] webark commented on #58
after doing some more investigation, and using a deployed server rather than a local or mocked data, it looks like the proper way to access the payload is a via promise from the `response.text` method. Going to do some investigation on the way to receive this with minimal invasiveness. Will update #59 when I find a solution.

[2017-08-01 22:21] johnunclesam opened #61 "ember-simple-auth 1.4.0 create a strange file when I "ember build -prod""
I switched from `1.3.0` to `1.4.0` and now when I `ember build -prod` I have a new file in:

`dist/ember-fetch/fastboot-fetch-a4c28b6b7b24781cc7616fb44c1def25.js`:

`(function(){define('fetch',['exports'],function(a){var b=FastBoot.require('node-fetch');a['default']=b,a.Headers=b.Headers,a.Request=b.Request,a.Response=b.Response}),define('fetch/ajax',['exports'],function(){throw new Error('You inc

[2017-08-03 14:25] willviles opened #62 "Fastboot dependency whitelisting"
Since Ember Fetch `1.4.2`, there appears to be an issue with using the `import fetch from 'fetch'` syntax in Fastboot apps, requiring a change to the fastboot dependency whitelist in package.json.

This issue relates to Ember Simple Auth, which has broken session restoration for Fastboot apps ever since upgrading to a later version of Ember Fetch. More details: https://github.com/simplabs/ember-si

[2017-08-08 01:11] sandydoo commented on #55
Ran into this issue trying to move from `ember-network` on a pre-1.0 version of FastBoot. Quick review of what I found + solution:

b9be38f2da9fd6d48e7b285ed0b7a565d6c44d17 added support for the new v1.0 FastBoot (with the new manifest hook), but also completely removed support for legacy FastBoot by removing the conditional logic that injects the FastBoot shim into the FastBoot vendor tree. 😢

Th

[2017-08-16 23:43] #58 closed

[2017-08-19 18:00] xg-wang commented on #45
@rwjblue Sorry I didn't notice the issue. Seems there's still no update on pretender fetch, but it's already 2 years from that issue. I was wondering whould we begin to provide an option to use native fetch.

[2017-08-25 06:27] nlfurniss commented on #18
`ember-network` has been deprecated, and ESA is using this project, so should no longer be an issue

[2017-08-25 06:27] #18 closed

[2017-09-07 14:19] #41 closed

[2017-09-07 23:34] majew7 opened #69 "FastBoot is not defined from Browser Console"
I see the following error in my browser console:

    Error in Component#send ReferenceError: FastBoot is not defined

Though this cannot be correct, as our Ember Application is NOT FastBoot enabled.

**Culprit?**
Also in Chrome Dev Tools - Sources I see a file named: `fastboot-fetch.js`
[code]

**Our Context**
We have not explicitly installed this `ember-fetch` package.  Rather `ember-fetch` is a

[2017-09-08 10:23] nlfurniss commented on #62
@kratiahuja @stefanpenner any thoughts on this?

[2017-09-11 01:55] dwickern opened #72 "Typescript definitions don't work"
If you `import fetch from 'fetch'`, typescript won't resolve it.
If you `import fetch from 'ember-fetch'`, typescript _will_ resolve it, but you'll have a runtime error.

When you import `fetch`, typescript looks in `node_modules/fetch`. It won't scan the whole `node_modules` directory for anyone exporting a `fetch` module. You can work around this with an explicit path mapping in `tsconfig.json`,

[2017-09-11 12:23] chriskrycho commented on #72
Ugh. I was hoping that `fetch` would be an actual npm package, but it's `whatwg-fetch`, which isn't even a little bit better than `ember-fetch`. I agree that the best option here is exporting from `ember-fetch` instead, since the *real* npm fetch package [is something *totally* different](https://www.npmjs.com/package/fetch).

Your alternative does bring up an interesting point I'd like to think a

[2017-09-12 11:46] toranb commented on #72
I was actually curious about the (most) correct path forward myself and thought it might be worth asking @DanielRosenwasser to chime in :)

warning and type defs are below for quick reference

`A default export can only be used in an ECMAScript-style module.`

[code]

[2017-09-15 00:55] DanielRosenwasser commented on #72
Right now by default, TypeScript assumes the mapping between ES modules and CJS modules to be 1:1 (the namespace record and the imported object are treated the same). To get around that, you can use `--allowSyntheticDefaultImports`.

An alternative idea is to add

[code]

which will get the current state of `ember-fetch` from this GitHub repo as a dependency

[2017-09-15 22:41] toranb commented on #72
@DanielRosenwasser thanks for the detailed reply! Reading this it would appear the synthetic option is most appropriate. Any downside to using this option generally speaking?

[2017-10-03 17:23] olleolleolle opened #74 "Typo in exported function name: serialiazeQueryParams"
Can we export another name as well? `serialiazeQueryParams` -> `serializeQueryParams`, perhaps?

[2017-10-11 21:54] nlfurniss opened #81 "appveyor failing due to Firefox"
Looks like this started failing after bf7575014f045ad6a39de0c035d0366e03df4abe. @tchak can you investigate.

Sample Appveyor test output
[code]
[Link to test output](https://ci.appveyor.com/project/embercli/ember-fetch/build/194/job/0cyptlpij9hpaxny)

[2017-10-11 22:27] #74 closed

[2017-10-11 22:51] olleolleolle commented on #74
Thanks man!

[2017-10-12 20:12] tchak commented on #81
Yep, sorry about that. I will fix this.

[2017-10-14 02:21] nlfurniss commented on #81
Another thing I've found is that the `browser_args` that were added now don't allow test debugging via chrome.

when you now run `ember test -server`, these args open chrome in a headless state and you can't use its dev tools to debug

[code]

[2017-10-14 12:21] rwjblue commented on #81
See current ember-cli blueprint, we have tweaked the settings slightly so that headless chrome is only used in CI.

[2017-10-14 16:07] tchak commented on #61
This file is part of `ember-fetch` distribution. If you do not use `fastboot` you can safely remove it from your production deploy. To answer the question why it exists: when one use `fastboot` it will be required from the node runtime.

I think this is a won't fix. @johnunclesam if you require some help with some issue you having because of the file, please reopen.

[2017-10-14 16:19] #81 closed

[2017-10-14 17:31] nlfurniss commented on #81
Thanks for fixing @tchak!

[2017-10-16 20:43] jcao219 opened #86 "PUT body no longer set."
Up until v3.4.1, mungOptionsForFetch sets the PUT body correctly.

Example failing test case:
[code]

[2017-10-16 20:58] rwjblue commented on #86
@nlfurniss - Seems related to https://github.com/ember-cli/ember-fetch/pull/84?

[2017-10-16 23:26] kellyselden opened #87 "adapter mixin clobbers contentType in JSONAPIAdapter"
It clobbers this https://github.com/emberjs/data/blob/v2.14.10/addon/adapters/json-api.js#L162.

[2017-10-17 04:18] #86 closed

[2017-10-17 04:23] nlfurniss commented on #86
@jcao219 fixed in 3.4.3

[2017-10-17 04:27] nlfurniss commented on #87
I'm a little confused by that bit. If `contentType` is set to anything, overwrite it and set it to `application/vnd.api+json`?

[code]

[2017-10-17 15:28] kellyselden commented on #87
That shouldn't be required though. The mixin should just inherit the contentType from the adapter it's on (via a _super call).

[2017-10-26 21:26] xm commented on #61
@tchak is there a way for this to only be included for fastboot builds?

[2017-10-27 06:53] tchak commented on #61
@xm what do you mean by "fastboot build"? There is only one build as of fastboot 1.0

[2017-10-27 07:08] xm commented on #61
In other words: if my app is not using fastboot, how do I avoid this step ever happening? Is there a flag to set, or can a change be made in ember-fetch to detect fastboot?

[2017-10-27 07:27] tchak commented on #61
After some thought there may be a solution. If `ember-fetch` could know if `ember-fastboot` is installed it could decide to include or not the file in the public folder.
I am wondering if the pattern of requiring a `fastboot` specific implementation is something we expect to become idiomatic and used in lots of addons? If it is the case, maybe it worth resolving? cc @rwjblue @kratiahuja

[2017-11-08 17:18] rwwagner90 commented on #87
Just hit this issue as well. Anyone have a fix?

[2017-11-08 17:28] webark commented on #87
https://github.com/ember-cli/ember-fetch/blob/master/addon/mixins/adapter-fetch.js#L127-L130

looks like this needs to get cleaned up. You could write your own mixin that extends this one, and overwrite the ajax options method.

[2017-11-22 02:20] toranb commented on #72
@chriskrycho @dwickern I just upgraded to typescript v2.6 and this doesn't seem like an issue (anymore?). Here is a repo you can build to confirm it works/ or doesn't for reference

https://github.com/toranb/ember-redux-yelp/commits/branches/seamlessAndTypeScript

Is anyone else having issues w/ TypeScript v2.4/2.5 or 2.6 ?

[2017-11-28 01:19] theseyi commented on #72
Still have the same issue with ts2.6 without using a parallel to your solution above, vis-a-viz an ambient module declaration @toranb

[2017-12-30 10:35] javierarpa opened #97 "problem with AdapterFetch when fast boot is enabled"
App is being served by FastBoot
DEBUG: -------------------------------
DEBUG: Ember           : 2.17.0
DEBUG: Ember Data      : 2.17.0
DEBUG: Ember Bootstrap : 1.0.0
DEBUG: -------------------------------
TypeError: Cannot read property 'catch' of undefined
    at Class.ajax (/Users/javierarpa/desa/tourme/tourme/tmp/broccoli_merge_trees-output_path-JCZ0mPSY.tmp/assets/addon-tree-output/ember-fetch

[2018-01-05 20:48] villander opened #98 "Don't work as dependencies"
`ember-fecth` does not work in my consumer app with Fastboot enabled, when I put ember-fetch as `dependencies` in my addon

cosumer app - https://github.com/villander/ember-mvp
addon - https://github.com/villander/ember-apollo-client/blob/apollo-client-2.0/package.json#L34

looks like ember-fetch specifically doesn’t work with fastboot when it’s a nested dependency
because its `updateFastBootManif

[2018-01-10 00:59] stefanpenner commented on #98
@kratiahuja got any cycles?

[2018-01-20 15:01] st-h opened #99 "indicating progress"
This ticket is similar to the already closed https://github.com/ember-cli/ember-fetch/issues/53, however as ember is moving towards making jQuery optional, we are going to need a feature complete replacement for making XmlHttpRequests. Currently the lack of displaying progress is blocking  some people from using ember-fetch as such a replacement. Even though it seems that progress will not be supp

[2018-01-24 11:46] KillaPL commented on #72
We seem to still have this issue with typescript 2.6.2.

[2018-01-25 15:27] chriskrycho commented on #72
I worked around it long since by doing `"fetch": ["node_modules/ember-fetch/index.d.ts"],` in my `tsconfig.json`, so at present that's the thing to do.

I *don't* agree with @toranb that the synthetic option is the most appropriate. I think it's actually more correct to have the export and import behave *correctly* at the package level, and then have the types map to that.

[2018-01-26 08:19] tomasz-szymanek opened #100 "ember-fetch lowercases header keys"
[code]

results in request with header "content-type", which is not working, since headers keys are case sensitive.

[2018-01-26 23:03] tchak commented on #100
https://tools.ietf.org/html/rfc7230#section-3.2

`Each header field consists of a case-insensitive field name followed
   by a colon (":"), optional leading whitespace, the field value, and
   optional trailing whitespace.`

[2018-01-26 23:06] tchak commented on #100
`fetch` implementations systematically lowercase header keys

[2018-01-30 09:22] tomasz-szymanek commented on #100
Thank you for explanation.

[2018-01-30 09:22] #100 closed

[2018-01-30 11:52] KillaPL commented on #72
I worked around it by including the types in my own code, but It should probably "just work" when including the package.

[2018-02-06 18:59] nlfurniss commented on #97
Hey @javierarpa, the issue is with an initializer that Fastboot uses to swap in node ajax functionality (specifically [this line](https://github.com/ember-fastboot/ember-cli-fastboot/blob/master/fastboot/initializers/ajax.js#L33)).

You can fix this by defining your own initializer like so:

[code]

[2018-02-06 23:26] javierarpa commented on #97
Thank you very much! It did work as expected, great.

[2018-02-06 23:26] #97 closed

[2018-02-06 23:40] nlfurniss commented on #97
@javierarpa did you put the initializer in `app/initializers` or `fastboot/initializers`?

[2018-02-07 10:00] javierarpa commented on #97
@nlfurniss  Where you suggested, in `app/initializers`.

[2018-02-07 16:03] nlfurniss commented on #97
what version of fastboot are you running?

[2018-02-07 16:59] javierarpa commented on #97
ember-cli-fastboot@1.1.2

DEBUG: Ember           : 2.18.0
DEBUG: Ember Data      : 2.18.0
DEBUG: jQuery          : 3.3.1
DEBUG: Ember Bootstrap : 1.2.0

app/initializers
[code]

[2018-02-08 16:16] javierarpa commented on #97
@nlfurniss  You're right, I finally had to comment the line in fastboot directory. Sorry I was trying on another project and I got confused.

[2018-02-12 07:45] tomasz-szymanek opened #105 "Ember-fetch incorrectly handles HTTP 303 status"
1. Perform POST
2. backend responds with HTTP Status 303
3. An automatic redirect to new resource (from Location Header) is done
4. we get proper response, but in order to be able to do totally different request in the future, we need access to either mentioned LocationHeader or to URL of redirected  request.

Because the redirect is done, it is not possible to get access to LocationHeader, ember-

[2018-02-13 16:07] villander commented on #98
@kratiahuja can you help us with that? or some hint of how to solve it, I can work on it if I know the cause

[2018-02-13 21:18] DanielRosenwasser commented on #72
I still kind of think that adding a `package.json` devDependency of

[code]

might be the easiest thing.

[2018-02-15 06:48] nlfurniss commented on #105
I just tried this, and the `url` returned in the `Response` is the correct one.

[code]

[code]

Are there any other important details?

[2018-02-15 12:06] n1klu5 commented on #105
Using exactly the same code you pasted
[code]

We get the response using ember-fetch
[code]

Are you sure you used ember-fetch? Because your response object looks like response from standard fetch not like the one from ember-fetch

[2018-02-17 12:27] toranb commented on #72
Just a quick note here - happy to pass the torch to others who legit know TypeScript :)

When I originally wrote these typedefs I was heads down with TypeScript but these days I don't actually use it (yet) and as a result don't know what is best for library/addon authors. If what @chriskrycho  is suggesting seems like the best path forward please feel free to make a move without my involvement. I

[2018-02-18 21:48] 0xadada commented on #38
I'm running into this exact problem now. My app uses fastboot, ember-data, ember-fetch, and I'm in the process of removing jquery and everything is working, _except_ fastboot fetches with the following error:

[code]

[2018-02-19 21:29] rwwagner90 opened #106 "findAll hangs with ember-fetch + Ember 3.1 beta"
I am using the prescribed workarounds from the README to get things working with fastboot with the ajax initializer noop and ember-data with the adapter mixin, which has worked great, until now. After updating to Ember 3.1, my `this.store.findAll` calls all the sudden just hang forever. They do not error out, but just seem to never resolve or something. I believe the issue lies with ember-fetch, b

[2018-02-21 05:06] nlfurniss commented on #106
Which version of ember and ember data were you using when everything still worked?

[2018-02-21 05:21] rwwagner90 commented on #106
@nlfurniss everything worked on Ember 3.0.0 and ember-data 3.0.1 I believe. The ember-data version does not seem to make a difference. I tried downgrading ember-data and the issues persisted. The only thing that made it work again was downgrading Ember itself to 3.0.0 or before.

[2018-02-21 09:09] nlfurniss commented on #106
So i spun up [a test app](https://github.com/nlfurniss/ember-fastboot-test-app) with:

- ember-source v3.1.0-beta1
- ember-data 3.1.0-beta.1
- ember-cli-fastboot 1.1.2 (plus overriding `ajax-service` initializer)
- ember-fetch 3.4.4

With `ember-fetch` being used, the page hangs and never loads. If you remove the `ajax-service` override, you get the known error from ember-fetch

@stefanpenner lets

[2018-02-21 12:13] nlfurniss commented on #105
I am sure, as I added that code to `ember-fetch`'s dummy app. Here is a screenshot of it hitting the polyfill:

![image](https://user-images.githubusercontent.com/1477357/36479383-6028ff46-16bd-11e8-98cc-66c57df044aa.png)

And the response, complete with `url`:
![image](https://user-images.githubusercontent.com/1477357/36479410-7ffc64b6-16bd-11e8-9f92-b324d750220b.png)

[2018-02-21 13:34] rwwagner90 commented on #106
Thanks for throwing that together @nlfurniss! Please let me know if there is anything I can do to help. I was unsure how to debug since it was hanging and not erroring.

[2018-02-21 21:45] n1klu5 commented on #105
OK, thank you for your input, you made me think :)
It looks like pretender (ember-cli-mirage is based on) is doing the bad work

[2018-02-21 22:12] nlfurniss commented on #105
@tomasz-szymanek is your issue in app code or tests?

[2018-02-22 06:38] tomasz-szymanek commented on #105
As @n1klu5 said - it wat mirage all along :) Thanks for your time!

[2018-02-22 06:38] #105 closed

[2018-03-02 09:56] nlfurniss commented on #38
@0xadada you can get around this issue with [these instructions](https://github.com/ember-cli/ember-fetch/blob/master/README.md#use-with-fastboot).

[2018-03-02 23:34] 0xadada commented on #38
@nlfurniss unfortunately not because I've also removed jQuery in my app as a dependency, and the `then().catch()` semantics of ember fetch don't yet align with fastboot expectations.

[2018-03-05 06:05] nlfurniss commented on #106
I did a test and found that if i goto the `/users` route of my test app directly, it hangs. But if I click a link from `index` to that route, it loads just fine.

@rwwagner90, can you confirm?

[2018-03-05 07:29] nlfurniss commented on #106
Narrowed down the cause a tiny bit.

The promise returned from [router.handleURL](https://github.com/emberjs/ember.js/blob/9300d1b7d3aa70987986b1997ecf02a542ea49be/packages/ember-routing/lib/system/router.js#L348) isn't returning (it's being [called from here](https://github.com/emberjs/ember.js/blob/8be1a9d1d4fbbefda5623efa9c35ffadcf127802/packages/ember-application/lib/system/application-instanc

[2018-03-07 18:17] nlfurniss commented on #38
Did you try adding the initializer to override fastboot per the README?

[2018-03-08 21:41] Duder-onomy commented on #38
I also ran into an identical issue with `ember-data` `ember-fetch` `ember-cli-fastboot` and `ember-simple-auth`

Ember-fetch's ajaxOption's does not call super, which results in any other extensions of your application adapter not having the opportunity to set headers or anything like that. The current implementation of ember-fetch's ajaxOptions do not allow [this](https://github.com/simplabs/embe

[2018-03-08 22:27] 0xadada commented on #38
@nlfurniss that worked! I hadn't taken that step, because it wasn't in the README back when i first switched to `ember-fetch`. Thanks!

[2018-03-15 07:02] youroff commented on #87
Not sure if this is this exact issue, but we can't make ember-fetch working with ember-simple-auth and jsonapi adapter. Seems like AdapterFetch mixin doesn't call `this._super` anywhere in ajaxOptions which doesn't let simple auth do its job. Proper content type is getting cleared out in our case too. Any ideas on workaround?

[2018-03-15 12:59] webark commented on #87
@youroff might not be a bad idea to include. However, i think if you include ember-fetch mixin first in your application adapter, it shouldn’t overwrite. Id imagine that the mixins get called in the order you list them.

[2018-03-15 18:33] youroff commented on #87
Yeah, I tried to change the order, but it didn't help. Might be something else. I'll post here if I find anything.

[2018-03-22 07:51] nlfurniss commented on #106
I upgraded to ember-source to `3.1.0-beta.5` and the issue seems to be gone. @rwwagner90 can you please confirm.

[2018-03-22 17:40] simonihmig opened #107 "Adapter mixin causes error when API returns empty object & 204"
Getting this ember-data error after migrating to fetch and using the adapter mixin: `Assertion Failed: normalizeResponse must return a valid JSON API document: One or more of the following keys must be present: "data", "errors", "meta".`

This happens when the API returns a 204 response, but with an empty objects as the payload (`"{}"`). Our real API actually doesn't do this, but Mirage's default

[2018-03-22 22:32] rwwagner90 commented on #106
@nlfurniss I have since removed ember-data from my app because I didn't really need it, and I am using ember-fetch directly now. If it works for you, I'd say it's probably good to go. We should likely add a test around whatever the failure was though, to ensure there are no regressions.

[2018-04-03 20:53] ChristopherConnock commented on #87
@youroff running into a similar error switching to ember-fetch (with a fully operational ember-auth app).

ember-auth's authorize is not called (order of mixins did not change anything)
`export default DS.RESTAdapter.extend(AdapterFetch, DataAdapterMixin, {`

ember-auth's authorize is called, but fetch is not leveraged
`export default DS.RESTAdapter.extend(DataAdapterMixin, {`

[2018-04-03 21:27] youroff commented on #87
@ChristopherConnock interesting, I thought it only affected JSONAPIAdapter. Anyways, we decided to put it on hold until fetch gets better support. So far even ember-data won't allow to ditch $.ajax completely if I get it right.

[2018-04-07 00:03] #106 closed

[2018-04-07 00:17] nlfurniss commented on #107
hey @simonihmig!

Seems like something that should be changed in Mirage. According to [httpstatus](https://httpstatuses.com/204), `A 204 response is terminated by the first empty line after the header fields because it cannot contain a message body.`

The logic in ember-fetch assumes that a 204 is being implemented this way

[2018-04-07 08:17] simonihmig commented on #107
@nlfurniss hey, yes, I should probably create an issue for mirage as well. But I nevertheless think this could maybe be handled a bit better here as well, i.e. ignore any payload in the adapter mixin for a 204 response. Don't you think?

[2018-04-07 14:04] tchak commented on #107
I just want to mention that we are moving fetch support to Ember Data itself : https://github.com/emberjs/data/pull/5386

[2018-04-07 14:05] tchak commented on #87
I just want to mention that we are moving fetch support to Ember Data itself : https://github.com/emberjs/data/pull/5386

[2018-04-07 14:05] tchak commented on #38
I just want to mention that we are moving fetch support to Ember Data itself : https://github.com/emberjs/data/pull/5386

[2018-04-28 02:41] rwwagner90 opened #110 "Only absolute URLs are supported"
How can I use this with fastboot / node-fetch? I always get `Only absolute URLs are supported` when trying to fetch `/foo`. This works in the browser, but not in fastboot.

[2018-04-28 14:32] rwjblue commented on #110
Great question! There are things that could to do resolve, but I think the fundamental issue is that when running fastboot the app itself does not have awareness of _where_ it is being served from. Therefore it can’t know current protocol (e.g. for `//foo.com` style URLs) or host (e.g. `/path` type URLs).

To fix this we would need an API from fastboot to be told where we are being served from. I

[2018-05-04 08:11] jobackman commented on #62
Any more thoughts on whether requiring fetch is an anticipated requirement?

I ran into this issue recently and found my way here by https://github.com/simplabs/ember-simple-auth/issues/1138 and can also confirm that adding `"fetch"` as a fastboot dependency solved it for me as well.

[2018-05-09 03:38] ryanto commented on #110
You would have to wrap fetch, build an absolute url, and then call the original fetch with the full url.

@dfreeman did something like this in addon docs: https://github.com/ember-learn/ember-cli-addon-docs/pull/179

[2018-05-09 09:16] tchak commented on #110
Like @ryanto said, in order for `fetch` (or `najax` for that matter) to use relative requests it needs access to `fastboot` service, so the only way right now is to use a service to make your requests. I think it might be possible to dereference request information from `fastboot` service as a global in an `instance-initializer`, but seems hakish...

I have an addon with a fetch service https://gi

[2018-05-09 09:18] tchak commented on #110
And `ember-data` will do it for you too: https://github.com/emberjs/data/blob/master/addon/adapters/rest.js#L1081-L1103

[2018-05-09 17:49] tchak commented on #110
@rwwagner90 oh I absolutely agree with you we need better support for this without `ember-data`.

@rwjblue or @kratiahuja do you think it would be reasonable to expose request information on the global `FastBoot`?

[2018-05-09 17:55] tchak opened #111 "Consider switching to `yetch`"
https://github.com/Netflix/yetch
https://github.com/mo/abortcontroller-polyfill

I really want to have cancelation support in. If there is a go on this I will do the work.

cc @stefanpenner @rwjblue

[2018-05-09 20:44] Caltor commented on #110
@rwwagner90 totally agree. Our team has never got to grips with / seen the benefit of ember data.

[2018-05-10 03:39] rwwagner90 commented on #110
@tchak I tried your service and it threw an error. I opened an issue. https://github.com/tchak/ember-fetch-adapter/issues/1

[2018-05-14 21:14] #111 closed

[2018-06-06 04:43] samselikoff commented on #55
I ran into the same issue, the only way I could solve it was by having the host app install `ember-fetch` themselves (even though it's listed as a `dependency` in my addon).

Would a repro still help here?

[2018-06-07 18:18] Mciocca opened #115 "Dependency issue with fastboot-app-server"
I am getting the following error when attempting to use an ember app that uses `ember-fetch` with `fastboot-app-server`

[code]

I do not get this error when visiting the same page when serving the app with `ember s`

Here is a very simple app that will recreate this error when using the `fastboot-app-server` defaults:

https://github.com/Mciocca/fastboot-test

A co-worker was also able to recreat

[2018-06-07 18:30] Turbo87 commented on #115
/cc @tchak @stefanpenner

[2018-06-07 20:40] tchak commented on #115
It looks like fasboot node packages are not properly installed...

[2018-06-07 20:54] Mciocca commented on #115
@tchak
I followed the instructions on the fastboot website. Where did I go wrong?
It could very well have been a mistake on my end or something not well documented.

[2018-06-08 03:00] tchak commented on #115
@Mciocca I just tried your demo app and it works for me... Can I see your `server.js` file?

[2018-06-08 12:57] Mciocca commented on #115
@tchak Pretty much just copy and pasted from the `fastboot-app-server` repo

[code]

[2018-06-08 16:37] dfreeman commented on #98
I opened up https://github.com/ember-fastboot/ember-cli-fastboot/issues/597 to try and start driving toward a solution here. @stefanpenner @kratiahuja would love to get your thoughts

[2018-06-10 06:32] xg-wang commented on #115
Are you running server.js from another location other than `fastboot-test/`?
I notice you're using `distPath: '/Users/mciocca/fb-test/dist',` and the [example](https://github.com/ember-fastboot/fastboot-app-server#quick-start) is  `distPath: 'dist',`.

If you are running server.js from another location without `node_modules` having your dependencies the error would be thrown.

[2018-06-10 07:57] xg-wang commented on #115
So I played around with it and had these results:

Fastboot is require'ing from [`<your-app>/dist/node_modules/<module-name>`](https://github.com/ember-fastboot/fastboot/blob/master/src/ember-app.js#L124), but the `node_modules` are not actually bundled into `dist`, they are at `<your-app>/node_modules/<module-name>` instead. The above case results in [`existsSync`](https://github.com/ember-fastbo

[2018-06-10 08:02] xg-wang commented on #115
/cc @thoov
About the node_modules were missing in dist, I remember you were doing something related?

[2018-06-11 20:09] SergeAstapov opened #116 "README.md does not reflect switch to yetch"
Addon version 5.0 has switched from whatwg-fetch package to yetch in #112.
However README.md still does refer to

[2018-06-13 21:12] lougreenwood commented on #62
Any movement on this issue?

[2018-06-17 12:03] #116 closed

[2018-06-23 04:09] nightire opened #118 "v5.0.0 has an error to include yetch-polyfill"
Upgrade to v5.0.0 recently and found there was an error:

[code]

[2018-06-24 02:13] mhluska commented on #115
@xg-wang so what's the fix here? I'm already running `node server.js` in the project root. I tried rolling back ember-fetch from v5 to v4 with no improvement.

[2018-06-24 06:47] mhluska commented on #115
I ended up getting this working by doing `npm install --save abortcontroller-polyfill` in my fastboot repo.

[2018-06-25 14:22] kratiahuja commented on #115
@xg-wang you shouldn't ideally need node_modules in dist if you don't have any whitelisted packages.

[2018-06-25 16:59] xg-wang commented on #115
@kratiahuja `abortcontroller-polyfill` and `node-fetch` are whitelisted by `ember-fetch`, and should be abled to be required in Fastboot.

[2018-06-25 17:43] xg-wang commented on #115
@mhluska mind sharing a reproduction? I have @Mciocca 's example repo working by doing `node server.js` from fastboot-test/

[2018-06-26 06:14] xg-wang commented on #118
@nightire I tried a fresh `ember new xxx; ember install ember-fetch` and it's working for me. Can you share your package.json or a repro?

[2018-06-26 19:18] ehubbell commented on #38
@Duder-onomy I'm running into the same issue (using the same libraries) as you explain above. Curious, would you mind elaborating on where and how you manually set those headers?

[2018-06-27 01:28] nightire commented on #118
@xg-wang yes, a repro is: https://github.com/choice-form/os-client

[2018-06-27 02:07] nightire commented on #118
`npm cache clean --force` solve this issue.

[2018-06-28 01:02] Duder-onomy commented on #38
@ehubbell Totally.

The latest ember-simple-auth has deprecated authorizers... So I had to change some things a few weeks ago.  Now that `ajaxOptions` hook I pasted above looks a little different.

Here is my entire application adapter:
[code]

Hope that helps.

[2018-07-04 19:29] buschtoens opened #119 "Installing ember-fetch breaks source maps for prod builds"
Demo: https://github.com/buschtoens/ember-fetch-sourcemap-bug

Installing ember-fetch breaks source maps for prod builds (i.e. builds with minification enabled).

During the build, the following warning is emitted:

[code]

Source map output without ember-fetch:

[code]

Source map output with ember-fetch:

[code]

[2018-07-04 19:58] buschtoens commented on #119
The problem was introduced with v4.0.0.

While warning about deprecations, the source map gets built correctly:
[code]

[2018-07-04 20:05] buschtoens commented on #119
Which is weird, because according to [`v3.4.4...v4.0.0`](https://github.com/ember-cli/ember-fetch/compare/v3.4.4...v4.0.0) there is no difference between v3.4.5 and v4.0.0. 🤔

[2018-07-05 07:13] buschtoens commented on #119
Oops, it's not `v3.4.4...v4.0.0`. I was tired yesterday, sorry 😄. Looking for the right version now.

[2018-07-05 07:18] buschtoens commented on #119
It's [`v4.0.0...v4.0.1`](https://github.com/ember-cli/ember-fetch/compare/v4.0.0...v4.0.1).

Works:

[code]

Breaks:

[code]

Therefore #112 (#111) bricked it. 🙁

[2018-07-05 08:44] buschtoens commented on #119
I guess the file ends up [here](https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/default-packager.js#L1427-L1435) and `broccoli-concat` itself is probably not aware of source maps when joining files.

So I guess passing `sourceMapConfig: { enabled: false }` is indeed the correct solution to this problem.

[2018-07-05 22:40] ehubbell commented on #38
@Duder-onomy Thanks for the help! Turns out I had my `fastboot` directory inside my `app` directory hence the issues my `ajax` service. Once I fixed that and installed something similar to your code above, everything's working.

[2018-07-09 06:33] xg-wang commented on #119
@stefanpenner @tchak see comment here https://github.com/broccolijs/broccoli-concat/issues/123#issuecomment-403369315
Any thoughts about this?

[2018-07-10 15:30] #119 closed

[2018-07-10 17:23] xg-wang commented on #119
Under repo `https://github.com/buschtoens/ember-fetch-sourcemap-bug`.
[code]

No more `Building[WARN] (broccoli-uglify-sourcemap) "ember-fetch.map" referenced in "assets/vendor.js" could not be found`

[2018-07-18 06:03] nightire commented on #118
@xg-wang Hi, me again. I found this issue is back and it is becoming more complex than last time.

Yesterday I was following [this article](http://www.oligriffiths.com/2018/07/17/ember-cli-broccoli-2/) to experiment with broccoli 2, I see this error again. Then I did `npm cache clean --force` but it didn't help like before.

I list the files under `node_modules/yetch/dist` and I found there actual

[2018-07-18 06:10] nightire commented on #118
And BTW, if I run `ember serve` without broccoli 2, this error will disappear and server will run normally.

[2018-07-18 14:56] rwjblue commented on #118
Seems like the error is specifically saying that `node_modules/yetch/dist/yetch_polyfill.js` is _not_ a directory (I'm assuming it is instead a file).  Can you confirm?

I suspect that something is trying to treat this path as a directory and this error is thrown by Broccoli 2.0 as it tries to watch directories that are not existing...

[2018-07-18 15:05] nightire commented on #118
@rwjblue yes, I can confirm it's a file.

[2018-07-18 15:33] rwjblue commented on #118
I suspect the issue is here:

https://github.com/ember-cli/ember-fetch/blob/80e77c832264f84e25f3c2583153ca62f93be1ee/index.js#L122-L131

I'd need to dig in further, but we should probably replace the `find` with a simpler funnel (I suspect that will fix it).

[2018-07-19 00:33] xg-wang commented on #118
@rwjblue My PR has changed this part, which should be ready to be merged soon.

[2018-07-20 22:39] xg-wang opened #121 "Switch back to github/fetch"
Switch back to [github/fetch](https://github.com/github/fetch) once new version with UMD build release.

Related:
pretenderjs/pretender#232
rwjblue/ember-cli-pretender#63

[2018-07-24 03:54] jasonmit commented on #69
I also ran into this using ember-fetch.  Here is my current work around:

[code]

The true fix is likely https://github.com/ember-engines/ember-engines/issues/490#issuecomment-334976982 but some work is needed to land that.

[2018-07-25 06:15] xg-wang commented on #118
@nightire Can you add repro steps? I'm on your develop branch and `EMBER_CLI_BROCCOLI_2=true EMBER_CLI_SYSTEM_TEMP=true ember s` has no error.

[2018-07-25 06:45] nightire commented on #118
@xg-wang yes, I was doing it all over again on my local machine, here is the full process and results:

[code]

and the full error report:

[code]

[2018-07-25 15:12] xg-wang commented on #118
So 2 issues here.
1. @rwjblue 's assumption is correct, my PR for the `find` part fixed this. @nightire please upgrade to ember-fetch@5.1.1
2. `ember-cli-htmlbars-minifier` is not broccoli 1.0 compatible, I have to remove this.

Closing this, feel free to reopen is you still see the error after upgrading to v5.1.1

[2018-07-25 15:12] #118 closed

[2018-07-26 18:36] les2 opened #122 "yarn / NPM can't resolve xg-wang/whatwg-fetch required by ember-fetch"
NPM error:

error Couldn't find package "@xg-wang/whatwg-fetch@^3.0.0" required by "ember-fetch@^2.1.0 || ^3.0.0 || ^4.0.0 || ^5.0.0" on the "npm" registry.

To reproduce,

[code]

[code]

[2018-07-27 01:53] xg-wang commented on #122
I tried
[code]

also checkout the url in your log directly:
[code]

Can you try again to see does it still exists?

[2018-07-29 16:05] les2 commented on #122
@sylwiaeb it seems to only affect our team!

we tried to pull the package from within a docker container and it worked.
but several people on the team have failed when pulling the package on OS X.
perhaps something is corrupted locally.

@xg-wang I'll try again and report back.

[2018-07-30 10:13] The-Don-Himself commented on #115
Just wanted to add that I ran into this issue today after deploying a long overdue update. There were so many package upgrades to remember what exactly changed. @mhluska [fix](https://github.com/ember-cli/ember-fetch/issues/115#issuecomment-399733898) does it for me.

[2018-07-30 18:40] afuno commented on #115
Well, so in the end? How to solve this problem? Above in your answers, I saw nothing.

[2018-08-04 03:13] davidgovea commented on #115
After building, our app's "fastboot dist" package.json has `abortcontroller-polyfill` and `node-fetch` whitelisted, but **only `node-fetch` is included in the `dependencies`**.

For now, we've installed `abortcontroller-polyfill` at the fastboot server level, as @mhluska suggested.

[2018-08-07 02:38] xg-wang commented on #122
@rstudner Can you share the error log and also your yarn registry?

[2018-08-15 14:43] jkeen commented on #55
Also ran into this issue and got around it the same way Sam did above ^

[2018-08-15 18:34] mdbiscan opened #123 "Credentials are always set as 'same-origin'"
I'm spiking out a project to use Simple Auth, Fastboot, and Fetch with DRF adapters. I have to send a httpOnly cookie, as we're currently not using tokens other than CSRF. I'm able to set `X-CSRFToken` via headers, but I can't get around setting `'credentials':'include'`, as the AdapterFetch mixin always sets it as `same-origin`.

In `mungOptionsForFetch`:

[code]

I'm curious as to why credential

[2018-08-15 20:11] nlfurniss commented on #123
Hey @mdbiscan!

They can be overridden, and defining your own `ajaxOptions` is how it's meant to be done. Inside you set any options you want and then call `super`. No need to define your own munger.

Example:
[code]

[2018-08-16 19:07] mdbiscan commented on #123
Hey @nlfurniss, thanks for your response.

Overriding `ajaxOptions` is what I've done, but it seems the way you're doing it here would get overwritten in the following line after you pass through super, no?

[code]

[2018-08-16 23:42] nlfurniss commented on #123
Since it's not an official property of an Ember Data adapter, I don't think we want to add it to this mixin, as it's meant to be pretty plug and play.

[2018-08-20 15:04] mdbiscan commented on #123
Thanks for the clarification!

[2018-08-20 16:43] #123 closed

[2018-08-20 17:15] xg-wang commented on #55
@samselikoff @jkeen Can you verify the issue you have are duplicates of #98 or the pre-1.0 Fastboot one?

[2018-08-22 19:41] mdbiscan commented on #38
I have this same problem, but I don't understand this part of the README:
[code]
I have not seen such a directory in my app? Does the Fastboot App Server need any special configuration?

[2018-08-22 20:57] nlfurniss commented on #38
@mdbiscan yes, [here is an example](https://github.com/nlfurniss/ember-fastboot-test-app/blob/master/fastboot/initializers/ajax.js)

[2018-08-22 21:00] mdbiscan commented on #38
@nlfurniss sorry, hit delete by accident.

I was able to do that, but I get this error:

`Error: The adapter rejected the commit because it was invalid`

Trying to debug now, but does this also require headers to be taken care of in `ajaxOptions`? I'm using the headers computed.

[2018-08-23 21:06] mdbiscan commented on #38
One of my issues is needing to pass HTTPOnly cookies. In my adapter, I had to add this:

[code]

[2018-08-24 03:00] rwwagner90 opened #127 "Rollup issues"
Just tried 5.1.2 and hit:

[code]

[2018-08-24 05:56] xg-wang commented on #127
@rwwagner90 Can you share a repro? I'm doing `ember b` on https://github.com/shipshapecode/shipshape.io/tree/master but no error.

This seems to be a babel version conflict (6 vs 5) https://github.com/babel/babel/issues/3838

[2018-08-24 13:41] rwwagner90 commented on #127
@xg-wang it only happens on Ember/Ember-CLI 3.4.0 beta, specifically beta 3.

[2018-08-24 16:57] davidbilling commented on #115
I have the same problem, is there a way to contribute to a solution? This is a showstopper for my production... (I don't know that much about fastboot, yet)

[2018-08-24 20:15] xg-wang commented on #127
@rwwagner90 Fixed by doing `yarn add babel-core@6`
It's caused by `ember-service-worker` on `ember-cli-babel`@5
https://github.com/DockYard/ember-service-worker/issues/126

I guess it somehow messed up the resolve path.

[2018-08-25 01:31] rwwagner90 commented on #127
Yep, seems to be fixed if I update everything, sorry about that!

[2018-08-25 01:31] #127 closed

[2018-08-28 15:29] Mciocca commented on #115
@davidbilling A temporary fix is to just keep your fastboot server in the root of your ember app's directory. It's not great to not be able to separate your ember app from your fastboot app server, but it works.

[2018-08-28 16:02] gandalfar commented on #115
When hitting this error today, installing `npm install fastboot-app-server abortcontroller-polyfillc` in a parent folder from `dist`, fixed the problem for me.

[2018-08-28 18:12] davidbilling commented on #115
@Mciocca I use fastboot-aws and used [above fix](https://github.com/ember-cli/ember-fetch/issues/115#issuecomment-399733898) and installed the abortcontroller-polyfill in the fastboot-aws repro. That works for now.

[2018-09-05 03:50] samselikoff commented on #55
Seems like if the rule is for top-level app to have this installed, then this can be closed 👍

[2018-09-07 05:38] #55 closed

[2018-09-07 05:40] xg-wang commented on #55
If someone still sees this issue feel free to open another issue or comment to re-open.

[2018-09-07 05:43] xg-wang commented on #98
Close as mentioned in #126
We can re-open if we can leverage new API for a better solution.

[2018-09-07 05:43] #98 closed

[2018-09-07 05:53] xg-wang commented on #45
This is supported after v5.1.0 https://github.com/ember-cli/ember-fetch/pull/63

[2018-09-09 20:11] mike-north commented on #115
I just ran into this problem and found the root cause.

#112 introduced the use of the `abortcontroller-polyfill` library
#113 included the appropriate module in `fastbootDependencies` so that consuming apps shouldn't have to do anything

The first release this stuff went out in was v5.0.0

---

To reproduce the problem, you need to have conflicting versions of `ember-fetch`. I've forked @Mciocca'

[2018-09-10 03:35] xg-wang commented on #115
@mike-north It seems to be a different issue. I can reproduce @Mciocca 's issue with the non-root `server.js`. You can compare the error message to confirm.

Actually if you open the file `at Object.require (/Users/user/node_modules/fastboot/src/ember-app.js:130:18)` It points to the `dist/node_modules` not found [case](https://github.com/ember-fastboot/fastboot/blob/v1.2.0/src/ember-app.js#L130).

[2018-10-17 11:05] initram opened #133 "Cannot read property 'preferNative' of undefined"
I am trying to replace ember-ajax with ember-fetch in an addon I use, but when I do it get the error:
`Cannot read property 'preferNative' of undefined`

content of error dump file can be seen below.
[code]

You can check out this branch https://github.com/initram/ember-cli-new-version/tree/upgrade-no-jquery

Then run `yarn` and `ember build` to reproduce the error.

I tried to figure out what is

[2018-10-17 12:16] rwjblue commented on #133
This error happens when you have an addon that doesn’t call `this._super.included.apply(this, arguments)` and depends on `ember-fetch`. We should absolutely handle this situation better though, and error with an actually helpful message.

[2018-10-23 05:58] xg-wang commented on #115
I did more debug.
The reason I have to do `require('absolute-path-to>abortcontroller-polyfill/dist/cjs-ponyfill.js')` rather than `require('<absolute-path-to>abortcontroller-polyfill/dist/cjs-ponyfill')` is that the [exists-sync](https://github.com/ember-cli/exists-sync) [Fastboot uses](https://github.com/ember-fastboot/fastboot/blob/v1.2.0/src/ember-app.js#L9) is same thing to `fs.existsSync()`.

[2018-10-23 16:43] #121 closed

[2018-10-24 06:01] xg-wang commented on #72
Can we export all the things from `ember-fetch` together with `fetch`?

[2018-10-29 13:31] chrism opened #138 "Not working with Fastboot and ember-data"
I've followed the documentation to add the initializer in `fastboot/initializer/ajax.js`

[code]

and adding the `AdapterFetch` mixin to my `adapters/application.js`

[code]

But am still getting an error message

`TypeError: Only absolute URLs are supported`

Looking into this error I've seen that there is already an issue relating to it
https://github.com/ember-cli/ember-fetch/issues/110

And al

[2018-10-29 16:58] xg-wang commented on #107
Hi @simonihmig

But the PR (it's same as now) you linked, the handling is to return `{ data: null }`

[code]

Is it the expected output? Or the payload should be an empty string in 204 case?

[2018-10-31 23:03] xg-wang commented on #122
ember-fetch v6 depends on whatwg-fetch, this shouldn't be an issue any more.

[2018-10-31 23:03] #122 closed

[2018-11-02 20:16] scottkidder commented on #138
I'm running into this as well, although I haven't yet tried ember-fetch-adapter.

[2018-11-04 19:59] scottkidder commented on #138
I can confirm #128 fixes the issue in my app.

[2018-11-14 15:22] dbouwman opened #156 "Ember-Cli 3.5 + Ember-Fetch 6.1.0 + Monorepo Build Fails"
## Update & Solution
Big thanks to @buschtoens in the Ember Discord - he quickly noted that this PR --> https://github.com/ember-cli/ember-fetch/pull/135 will solve this issue.

Until that merges, if you run into this issue, you can use this branch: `"ember-fetch": "buschtoens/ember-fetch#upgrade"`

----

We are in the process of upgrading a large set of applications and addons to Ember 3.5. We ar

[2018-11-15 12:12] nassif7 commented on #156
same happens with us, thanks fro the example

[2018-11-16 16:02] #156 closed

[2018-11-16 19:16] #138 closed

[2018-11-16 21:11] #110 closed

[2018-11-16 21:11] xg-wang commented on #110
Closed by https://github.com/ember-cli/ember-fetch/pull/143

[2018-11-17 10:09] initram commented on #133
I was trying to upgrade ember-cli-new-version. But I have more or less given up on that. The tests kept failing due to some timing issues. But I guess the add-on could still add the initialization.

[2018-11-17 19:36] lougreenwood opened #166 "Could not find module `fetch/setup` imported from `prog/instance-initializers/setup-fetch`"
Hello, I'm getting the following build error on my CI server. Downgrading to 5.1 (before `/instance-initializers/setup-fetch` was introduced) fixes the issue.

[code]

[2018-11-17 20:45] xg-wang commented on #166
Hi @lougreenwood what is your Pember and fastboot version?
Can you also take a look at https://github.com/shipshapecode/shipshape.io as mentioned in https://github.com/ember-cli/ember-fetch/pull/143#issuecomment-438046353 to see what's the difference?

[2018-11-17 21:03] davidbilling commented on #166
I get the same error, I do not use Prember only fastboot.

[2018-11-17 21:16] xg-wang commented on #166
@davidbilling Were you trying to make a `fetch` before the instance initializer?

[2018-11-17 21:35] davidbilling commented on #166
@xg-wang Not sure of the run-loop scoop of instance initialazer. My first fetch is directly when the page is loaded though. But I have not made any own instance initialaziers.

[2018-11-18 09:56] lougreenwood commented on #166
hey @xg-wang - I'm using:

* `prember 1.0.0`
* `ember-cli-fastboot 2.0.0`
* `ember 3.5.1`
* `ember-cli 3.5.1`

[2018-11-18 18:09] xg-wang commented on #166
@lougreenwood @davidbilling Do you have reproduction steps?

[2018-11-18 19:35] xg-wang commented on #166
Pretty sure it’s some of the app’s dependency has a ember-fetch with different version and public/fastboot-fetch.js got overwritten

[2018-11-18 20:29] lougreenwood commented on #166
@xg-wang I think you're right, seems that the problem is `ember-simple-auth` - adding this to package.json seems to solve it for me:

[code]

[2018-11-18 20:48] davidbilling commented on #166
@xg-wang @lougreenwood "resolutions" did not work for me. But I also have "ember-power-select" that uses ember-fetch 3.4.5 and other addons with ember-fetch. I will try to make a better test when I got more time.

[2018-11-21 22:17] #115 closed

[2018-11-22 11:12] mydea commented on #45
Just out of curiosity, is the polyfill still included in the vendor file at all time, correct?
Wouldn't it be nice to not even include it, if all browser targets have it?

[2018-11-26 14:46] rwjblue commented on #45
@mydea - Yes, totally agreed.

@xg-wang - This issue was created to track avoiding the _include_ the polyfill at all in `vendor.js`, but AFAICT the fix added in #63 will still continue to ship the polyfill but will avoid using it if native fetch is present. I'm reopening this issue so that we can track the vendor.js "slim down"...

[2018-11-27 10:11] mydea commented on #133
This is not working for me as well, with an engine.

Setup:

[code]

The shared addon does correctly call `this._super.included.apply(this, arguments)`.
However, in the `treeForVendor` hook,

[code]

breaks - there is simply no `this.buildConfig`. Before that, the included hook is called twice.
Not even manually adding `ember-fetch` to the devDependencies of the engine works.

I will try to invest

[2018-12-04 14:49] samselikoff commented on #166
I'm also getting this error, via the `ember-cli-fastboot-testing` library.

To reproduce:

[code]

[2018-12-04 18:06] chrism opened #184 "Error: Cannot find module 'abortcontroller-polyfill/dist/cjs-ponyfill'"
A similar issue was recently closed https://github.com/ember-cli/ember-fetch/issues/115 but I do not understand how to resolve this issue in the case of linking a local dependency now with these recent updates.

For example, I currently need to use a branch of `ember-cli-fastboot` to fix an issue with the shoebox so I until the PR is merged I use this branch https://github.com/chrism/ember-cli-fas

[2018-12-06 09:16] willviles commented on #166
I've installed from @xg-wang's https://github.com/ember-cli/ember-fetch/pull/167 PR commit and my builds are now succeeding ✅

[code]

Hopefully https://github.com/ember-cli/ember-fetch/pull/167 can be merged in soon 👍

[2018-12-07 22:39] xg-wang commented on #166
Released as v6.2.3. Feel free to reopen if this is still an issue.

[2018-12-13 15:20] balinterdi commented on #166
This release introduced a regression in my app. The following code works in v6.2.2 but breaks in v6.2.3:

[code]

(`currentUser.load` calls fetch)

The error I get is

Am I doing something wrong?

[2018-12-13 17:54] xg-wang commented on #166
@balinterdi 🤔 `fetch/setup` has been removed in v6.2.3 it shouldn't be invoked. https://github.com/ember-cli/ember-fetch/compare/v6.2.2...v6.2.3#diff-2992dd665823759d28df78b0c59aff62L1

[2018-12-14 11:11] balinterdi commented on #166
@xg-wang I didn't invoke `fetch/setup` directly from my code, not sure what did it. Anyway, I've now tested again with both version 6.3.1 and 6.2.3 and it worked fine in both cases – and without the need for the above hack (where I check in the instance-initializer if we're in Fastboot mode) or the resolution @lougreenwood mentioned.

@lougreenwood ember-simple-auth extended the range of acceptabl

[2018-12-14 11:14] lougreenwood commented on #166
@balinterdi sure did, I actually submitted a PR before this commit - I was using my fork for my PR:
https://github.com/simplabs/ember-simple-auth/pull/1716

Not sure why my fork stopped working but resolutions fixed it for me

[2018-12-19 18:01] xg-wang commented on #45
Released as v6.4.0 🎉

As mentioned in [readme](https://github.com/ember-cli/ember-fetch/tree/v6.4.0#allow-native-fetch), to avoid bundling redundant polyfill assets just set `preferNative` to `true`

[code]

Browser targets supports for [`fetch`](https://caniuse.com/#feat=fetch) and [`abortcontroller`](https://caniuse.com/#feat=abortcontroller) are checked from [caniuse-api](https://www.npmjs.com/

[2018-12-19 18:01] #45 closed

[2018-12-27 10:56] oscarni commented on #184
This happens to me when I resolve to fastboot `2.0.0` or above. Running Fastboot `1.2.1` works fine with `ember-fetch 6.4.0`. Maybe that could be the culprit?

[2019-01-09 02:00] knownasilya opened #200 "Addon options passed in to treeForBrowserFetch are undefined"
Options passed here: https://github.com/ember-cli/ember-fetch/blob/master/index.js#L111 seem to be undefined.

Stumbled onto this here https://github.com/sethwebster/ember-cli-new-version/issues/55

[2019-01-09 03:05] xg-wang commented on #200
@knownasilya
`this._super.included.apply(this, arguments);` should be called at beginning of `included` here https://github.com/sethwebster/ember-cli-new-version/blob/v1.4.2/index.js#L12 otherwise sub-dependency's `included` hook won't be triggered.

BTW `ember-fetch` bundles assets so it should lives in `devDependencies` and requires host app to install it as top-level dep.

[2019-01-09 03:09] xg-wang commented on #133
Seems this issue shouldn't be closed by https://github.com/ember-cli/ember-fetch/pull/172 as people are still having this https://github.com/ember-cli/ember-fetch/issues/200

But seems ember-cli-new-version is the addon that didn't call `included` hook? @initram can you try patch this addon?

[2019-01-09 03:17] knownasilya commented on #133
I'll try to fix this in ember-cli-new-version tomorrow. Thanks for catching this.

[2019-01-09 03:17] knownasilya commented on #200
Thanks for catching this. I'll update the addon to handle this case.

[2019-01-09 03:17] #200 closed

[2019-01-09 07:55] mydea commented on #133
I guess #172 still relies on the `included` hook to run!

[2019-01-12 06:02] #133 closed

[2019-01-17 22:51] walter opened #204 "Flickering test failures w/ Ember 2.18.2 & 3.4.7"
This is a follow up on comments in #25 [starting here](https://github.com/ember-cli/ember-fetch/pull/25#issuecomment-424799025).

## Background

In preparation to upgrading from Ember `2.18.2` to `3.4.7`, I've been refactoring a fairly complex custom `ajax` service that my app uses to rely on `ember-fetch` instead of `ic-ajax` (`ember-ajax` has its own service implementation that was in conflict,

[2019-01-22 15:35] viniciussbs commented on #204
@walter thanks for remember me. I'll let my team know about your workaround. I guess we do not face this problem anymore since we've made another workaround for an issue on https://github.com/bgentry/ember-apollo-client/issues/192, though - planning to send a PR to fix that soon.

[2019-01-29 01:17] arthur5005 commented on #204
I spent a significant amount of time coming to the same conclusion with our test suites when we upgraded to Ember 3.6 with the use of the latest ember-simple-auth.

Would fail 25% of the time on `authenticate`, and move on to the next test step without finishing the login one.

Our authenticator made use of `ember-fetch` to make the authentication request.

I narrowed it down to the use of ember-f

[2019-02-01 19:19] simonihmig commented on #184
I also stumbled into this. Even with the latest release.

Weird. It is just the opposite for me, I was able to fix it by forcing `fastboot@2.0.1` on my app server. (*not trying this locally, but on the real staging server*)

I dug into this, and I think the use of `existsSync` is the culprit, which does not know anything about node's module resulution: https://github.com/ember-fastboot/fastboot/bl

[2019-02-02 05:42] xg-wang commented on #184
I can confirm this happens on `ember-cli-fastboot`, not specific to your fork.
This happens when I do `yarn link ember-cli-fastboot` on a ember app.

I set a debugger at the [line before node does `require`](https://github.com/ember-fastboot/fastboot/blob/v1.2.1/src/ember-app.js#L124), then `require.resolve('node-fetch')` will **error** when **link**, but **works well** if **not link**.

I don't h

[2019-02-02 05:45] xg-wang commented on #166
@balinterdi Do you think it could be node_modules cache issue? Seems you don't see it anymore when you test it again.

[2019-02-02 18:57] balinterdi commented on #166
@xg-wang Sorry, I no longer remember exactly what I did so that it started working. I don't recall doing anything in particular but it's possible that I removed node_modules and ran `yarn` again.

[2019-02-06 18:57] Duder-onomy commented on #115
@mhluska 's fix worked for me.

[2019-02-17 15:59] miguelcobain opened #222 "beforeSend"
Seems that some addons like ember-simple-auth make use of the `beforeSend` option. This option works on jquery ajax: http://api.jquery.com/jQuery.ajax/

Here, for example: https://github.com/simplabs/ember-simple-auth/blob/master/addon/mixins/data-adapter-mixin.js#L81

Would it make sense for AdapterFetch to try to use this option?

At the moment, I don't think it is possible to use ember-simple-a

[2019-02-19 17:15] xg-wang commented on #222
It's also used in ember-data [JSONAPIAdapter](https://github.com/emberjs/data/blob/v3.7.0/addon/adapters/json-api.js#L181), and lots of [other addons](https://emberobserver.com/code-search?codeQuery=beforeSend).

`ajaxOptions` in the fetch adapter doesn't call super, so other addon's mixins and ember-data's hash w/ `beforeSend` won't be mixed into `ajaxOptions`. I'm not sure whether this should ha

[2019-02-21 05:11] nlfurniss commented on #222
@xg-wang other `ajaxOptions` are def called (the adapter mixin has to be in the correct order).

`beforeSend` isn't necessary here since the addon could change the options passed into `ajaxOptions`. However, `$.prefilter` doesn't have any support yet. I'm writing an RFC for how we want to handle `prefilter` in a jQuery-less world. Keep an eye out :-)

[2019-03-02 23:56] nlfurniss opened #244 "Force apps to declare whether they need the polyfill or not"
Allowing apps to supply a list of supported browsers to this addon so that it can determine whether or not to include the polyfills is a small connivence, but isn't worth the performance penalty of including `caniuse`, which adds [46.9kb gzipped and minified](https://bundlephobia.com/result?p=caniuse-lite@1.0.30000939).

I propose we remove the feature and simply require consuming apps to [specify

[2019-03-02 23:57] nlfurniss commented on #72
Believe this issue should be solved now that TS support has been added

[2019-03-02 23:57] #72 closed

[2019-03-02 23:59] nlfurniss commented on #99
Unfortunately, unless the `fetch` spec allows for indicating progress, this is something you will have to continue to use XmlHttpRequest for.

[2019-03-02 23:59] #99 closed

[2019-03-03 00:08] xg-wang commented on #244
It's a build time dependency which should not be bundled to vendor file. And we do have an option for specifying whether or not they need the polyfills to be included: `alwaysIncludePolyfill` does that work for the need?

[2019-03-03 00:12] xg-wang commented on #99
For more info on spec:
- https://github.com/whatwg/fetch/issues/21
- https://github.com/whatwg/fetch/issues/607

[2019-03-03 00:18] nlfurniss commented on #244
Ah ok if it’s just build time then obv it’s fine

[2019-03-03 00:18] #244 closed

[2019-03-03 00:58] theseyi commented on #72
I believe @xg-wang ‘s PR has been merged but not released. So not sure that it has been “added”. I still had this issue this week, Friday,  running the latest released version of ember-fetch.

[2019-03-03 00:59] theseyi commented on #72
@nlfurniss

[2019-03-03 01:30] xg-wang commented on #72
Sorry ember-fetch test is passing, but submitting to npm blocked by https://github.com/typed-ember/ember-cli-typescript/issues/566, open PR https://github.com/DefinitelyTyped/DefinitelyTyped/pull/33518

[2019-03-03 02:30] chriskrycho commented on #72
Hopefully that whole mess will be cleared up in the first couple days of this coming week!

[2019-03-12 06:42] xg-wang commented on #72
![image](https://user-images.githubusercontent.com/8369011/54179858-4612ee00-4457-11e9-9067-0d0d23600210.png)

[2019-03-12 06:45] theseyi commented on #72
Always a nice feeling to get rid of workarounds :)

[2019-03-20 17:01] xg-wang opened #259 "CI failing"
Fastboot test with ember-cli-addon-tests is failing:

[code]

https://travis-ci.org/ember-cli/ember-fetch

[2019-03-20 19:07] #259 closed

[2019-04-10 15:01] fpauser commented on #204
We have the same problem in our app (ember-3.9.1). The `preferNative` workaround helps.

[2019-04-20 18:56] lucacorti commented on #184
I'm still getting this with ember-data@3.9.1 in fastboot.

[code]

[2019-05-01 21:12] rwjblue opened #289 "Deprecate + Remove Ember Data Functionality"
As of https://github.com/emberjs/data/pull/6077, ember-data will no longer depend on `ember-fetch` directly (but will continue to use it if it is present).

We should deprecate usage of all code in `addon/` except `addon/ajax.ts` (since it provides functionality for the ember-data adapter mixin, which will not be required as of ember-data@3.10+ and _possibly_ ember-data@3.9.2).

[2019-05-02 12:27] rwjblue commented on #289
/cc @nlfurniss @xg-wang for visibility

[2019-05-02 16:20] dnalagatla opened #290 "Enforce top-level add-on requirement"
Ember-fetch requires the add-on to be a top-level dependency for an application to provide support for Fastboot. This is documented [here](https://github.com/ember-cli/ember-fetch#top-level-addon).

Ember-fetch should enforce the above requirement during the build time of an application if an add-on is using it as a transitive dependency. Recently, ember-data added a dependency on ember-fetch and

[2019-05-02 16:21] dnalagatla commented on #290
cc @nlfurniss @xg-wang for visibility.

[2019-05-02 18:21] dcyriller opened #291 "A repo's description would be nice 😉"
![Capture d’écran 2019-05-02 à 20 19 56](https://user-images.githubusercontent.com/6677373/57097324-c2b79f80-6d17-11e9-950f-8f2e0f7512c5.png)

[2019-05-02 18:49] stefanpenner commented on #291
Thanks, should be fixed:
![image](https://user-images.githubusercontent.com/1377/57098998-3b930900-6cd0-11e9-9ce2-7461e0c0a62d.png)

let me know if we can improve on it further

[2019-05-02 18:49] #291 closed

[2019-05-03 05:47] xg-wang commented on #289
@rwjblue Does it makes sense to add deprecation when next ember-data LTS version (3.12) comes out then major bump to remove utils?

[2019-05-06 16:01] 0xadada commented on #38
# Solutions!

@stefanpenner
Here is how I've finally solved the problem, i'm also using `ember-data` with `ember-fetch` running in an `ember-cli-fastboot` with `ember-simple-auth` and have removed `jQuery` as a dependency.

re: ☝️ @Duder-onomy your  application adapter uses authorizers, which has since become a [deprecated pattern in ember-simple-auth](https://github.com/simplabs/ember-simple-auth

[2019-05-07 03:03] snewcomer commented on #38
Note on setting `ajaxOptions`.  I would follow what was recommended in the below .  Also, `headers` as a computed may be another source of a memory leak.  Changing to a static getter e.g. `get header` may have fixed leaking an internal part of Ember.

Just sending out a message in a bottle in case anybody picks it up.  Your app may be slightly different, so make sure you have a memory leak before

[2019-05-09 16:37] rwjblue commented on #289
ember-data@3.9.2 was released dropping the dependency on `ember-fetch` (with some more tweaks coming in a 3.9.3).

[2019-05-09 16:40] rwjblue commented on #289
I don't think we have to be terribly concerned with the timing here; its probably fine to deprecate whenever we have the time...

[2019-05-21 15:47] meirish commented on #204
We're seeing this as well, along with `preferNative: true` "fixing" things. Any way I can help debug / fix this?

[2019-05-23 05:38] xg-wang commented on #204
@meirish The first step to help fix is to construct a minimal flaky test repro

[2019-05-23 06:59] nlfurniss commented on #289
I should have chimed in earlier, sorry.

The utils are useful helpers in constructing one-off ajax requests using ember-fetch, so I'm concerned about deprecating them

[2019-06-06 03:58] xg-wang commented on #289
@rwjblue @nlfurniss These utils are private in `ember-data`. How's your opinion on keeping them in `ember-fetch` and let `ember-data` depends/rollsup these?

[2019-06-06 13:46] rwjblue commented on #289
`ember-data` should definitely not depend on this addon (that was the reason for my work in ember-data for 3.10.1).

[2019-06-13 14:41] efx opened #320 "disabling fastboot asset generation"
After adding ember-fetch, I now see a `dist/ember-fetch/fetch-fastboot.js` generated after each build. I would like to disable this functionality as we do not use fastboot in our application.
Is this possible?
If not, and we can agree it is worthwhile, I can help with a PR.

[2019-06-14 04:01] xg-wang commented on #320
I think the [generation](https://github.com/ember-cli/ember-fetch/blob/v6.5.1/index.js#L132) can detect `ember-cli-fastboot` because the file is only [used](https://github.com/ember-cli/ember-fetch/blob/v6.5.1/index.js#L149) by fastboot.

[2019-06-18 16:53] kanongil opened #321 "The preferNative option doesn't work"
When I set `preferNative: true`, in a build that includes the polyfill, fetch always uses the polyfill code.

[2019-06-28 02:39] #289 closed

[2019-06-28 13:42] chriskrycho opened #330 "Rename import path to `ember-fetch`"
It's a best practice in general, for imports to come from their package name rather than some more "convenient" name, and will become more so [as Embroider lands](https://github.com/emberjs/rfcs/blob/embroider/text/0000-embroider-v2-package-format.md#renaming-rules):

The import style here should simply be:

[code]

This would be a breaking change, but should also be trivially codemod-able.

[2019-06-28 14:14] rwjblue commented on #330
We could start by providing both modules, and deprecate the `fetch` one. Wouldn't need to be a breaking change until we drop support (which could happen "far in the future").

[2019-06-28 17:39] chriskrycho commented on #330
Yeah, I like that as a path forward.

[2019-07-02 19:43] ef4 commented on #330
Given that global `fetch` is a stable WHATWG standard, what do we gain by keeping an importable ember-specific package, as opposed to polyfilling the global `fetch` in each environment we care about (just fastboot and IE11, I think) and declaring that all Ember apps and addons are free to use global `fetch`?

Implementation-wise, the two are equally interceptable.

[2019-07-02 20:05] chriskrycho commented on #330
Seems perfectly reasonable to me. We’d just want a nice configurable switch for that if it’s ending up in the vendor bundle, or (better?) to deliver it separately.

[2019-07-02 20:37] rwjblue commented on #330
I think thats fine in general, it would also allow easier "use native" (since we would literally do nothing if your targets all have `fetch`).

We'd have to confirm that its "fine" in SSR environments too (since there **is not** a `fetch` global there), it would add to the list of expected globals in the `fastboot` sandbox setup (which is probably fine, but worth mentioning).

[2019-07-04 16:09] ef4 opened #337 "Embroider compat"
Opening this issue because @xg-wang asked in Discord:

There are a couple different ways to answer.

First, does `ember-fetch` work today under `@embroider/compat`? Yes, as far as I can tell it works flawlessly, at least in the browser environment. We are still working through fastboot support issues in embroider, so I didn't test `ember-fetch` in the fastboot environment.

Second, how can ember-f

[2019-07-04 16:09] ef4 commented on #337
(As ember-fetch is already compatible, there's no need to keep this issue open unless you want to.)

[2019-07-08 00:16] #337 closed

[2019-07-08 00:17] xg-wang commented on #337
Thank you @ef4 for the explanation!

[2019-07-11 23:36] allthesignals commented on #115
I'm seeing this issue as well in spite of upgrading. Should it be closed?

After using @mhluska's fix, I am seeing this:
`Error: Cannot find module 'node-fetch'`

[2019-07-15 14:47] snewcomer commented on #38
@allthesignals ref issue for container memory leaks

[2019-07-23 23:34] snewcomer commented on #115
Ref https://github.com/ember-fastboot/fastboot/pull/227

[2019-08-16 20:08] xg-wang commented on #184
I believe this issue can be closed.
- If you are seeing this error message when using ember-cli-fastboot `ember serve`, make sure your fastboot dependency is up-to-date https://github.com/ember-fastboot/ember-cli-fastboot/issues/711#issuecomment-518467216;
- If this error pops up when deploying your app, make sure there's `node_modules` in the `dist/` folder as mentioned at https://github.com/embe

[2019-08-16 20:08] #184 closed

[2019-08-16 20:08] #166 closed

[2019-08-16 20:12] xg-wang commented on #62
This should be fixed by doing `ember install ember-fetch` at app.

[2019-08-16 20:12] #62 closed

[2019-08-17 13:09] lucacorti commented on #184
@xg-wang works for me

[2019-08-28 12:02] sandstrom commented on #321
Somewhat related, it would be great if the readme would clarify what purpose this lib serves when native is already available. I guess the answer is the run-loop wrapping, if so would be great to include a small snippet on how to handle that manually, without this library.

[2019-09-05 08:25] bobisjan opened #355 "Using Request breaks in FastBoot"
`ember-fetch` supports FastBoot by patching URLs before it makes `fetch`.

https://github.com/ember-cli/ember-fetch/blob/408e6244dd30112edd96f130cdd350d490e97aed/public/fetch-fastboot.js#L49-L55

The problem is that `node-fetch` parses `input` argument in Request's [constructor](https://github.com/bitinn/node-fetch/blob/086be6fc74d8cc69faf76f65bf96d8f76b224dd1/src/request.js#L57-L70), so any chang

[2019-09-10 13:27] rwjblue commented on #355
Hmmm, yeah this seems somewhat fundamental :thinking:

@xg-wang - Any ideas / suggestions?

[2019-09-10 19:41] xg-wang commented on #355
@rwjblue I have https://github.com/zonkyio/ember-fetch/pull/1 to the failing test PR @bobisjan posted, so it can be turned into a fix PR.

[2019-09-12 00:00] #355 closed

[2019-09-18 17:56] bobisjan commented on #355
@xg-wang, @rwjblue thank you guys for fixing this 👏.

[2019-10-23 21:17] rwjblue opened #371 "Sadness with ember-cli-fastboot"
Haven't had much time to dig into this yet, but I just spun up a new app with ember-cli@3.14.0-beta.1 and get an error when I add `ember-cli-fastboot`.

Steps to reproduce:

[code]

Then visit `/` in the app. I see:

[code]

**NOTE** there is no actual attempt to _use_ `fetch` at all in this setup.

[2019-11-03 22:33] #371 closed

[2019-11-18 09:58] mydea opened #391 "Deprecation for ember data mixin for older ED versions"
After https://github.com/ember-cli/ember-fetch/pull/308, we get a lot of deprecation warnings in our app:

[code]

We cannot easily update ED (for other reasons), so we are currently using 3.4.x.

The deprecation warning incorrectly suggests that we should stop using the FetchAdapter. I guess the deprecation should only be shown for users with ember-data >= 3.10?

[2019-11-20 22:38] rwwagner90 opened #398 "Thoughts on an ember-ajax compatible service?"
👋

We are working on removing jQuery from our app, and thus moving from ember-ajax to ember-fetch, but we like a lot of the API of ember-ajax. Would you guys be interested in providing a compatible service that works with the ember-ajax API here or should that be a separate addon?

[2019-12-18 16:43] simonihmig commented on #107
Closing this, as this has been fixed in Mirage, and the fetch adapter mixin is deprecated anyway.

[2019-12-18 16:43] #107 closed

[2019-12-20 10:18] Turbo87 commented on #391
I'm seeing the same issue on https://github.com/rust-lang/crates.io

/cc @xg-wang

[2020-01-11 00:49] LuisAverhoff opened #430 "Strip out console.log for "This response was unable to be parsed as json" in production"
I'm using ember-fetch with ember data and I have a custom method in one of my adapters that returns csv instead of json.

The function `determine-body-promise` seem to emit a warning message in both production and development and is not ideal to have my entire csv payload, or any payload to be frank, be printed out in the console in production(development is fine).

My suggestion is the following.

[2020-01-26 17:59] devotox commented on #184
I have found if you just install `ember-fetch` on the encapsulating server this works without the need to install all packages in the dist directory

[2020-01-26 18:01] devotox commented on #115
I have found if you just install `ember-fetch` on the encapsulating server this works without the need to install all packages in the dist directory

[2020-01-29 10:33] Stoobaart opened #435 "Version 6.7.2 seems not to transpile to es5"
Not sure what's causing this bug, but it appears that ember-fetch is not transpiling to es5 on version 6.7.2

Using Ember-cli 3.15.1
Confirmed using es-check

Reproduction steps:
In terminal:
npm i es-check -g
Using an Ember app with ember fetch version 6.7.2...
npm i
ember build --environment production
es-check es5 './dist/**/*.js'

Expected result: ES-Check: there were no ES version matching er

[2020-02-02 01:20] xg-wang commented on #435
`const` from `fetch-fastboot.js` is from this line https://github.com/ember-cli/ember-fetch/blob/v6.7.2/public/fetch-fastboot.js#L16.
The file only runs in Fastboot(node). And `const` is available in pretty much all nodejs versions.
Does other dis/**/*.js files pass the test?

[2020-02-02 20:35] Stoobaart commented on #435
Yes, all other packages pass, this is the only one that fails. I'm not sure at all what's causing the issue, but it went away when I down graded to 6.7.0, thought it would be best to let someone know :)

[2020-02-07 22:38] e-monson opened #442 "Could not find module `fetch` imported from `prog/instance-initializers/setup-fetch`"
I am having an issue very similar to #166 , but my app is looking for `fetch` rather than `fetch/setup`:

[code]
I am using `ember-simple-auth` like the other poster, and it seems to be the only other dependency in my app that depends on `ember-fetch`. I've tried adding this snippet to my app's `package.json`, as suggested in the other issue, specifying `^6.2.0` and `^6.3.0`, but it has not helped

[2020-02-08 04:59] xg-wang commented on #442
Your project is using Fastboot, please read ["Use with Fastboot > top-level addon"](https://github.com/ember-cli/ember-fetch#top-level-addon) section in Readme.
After ember-fetch@v7.0.0 there will be an error thrown with more actionable info https://github.com/ember-cli/ember-fetch/pull/292/commits/11d9d7e005b8f63d8cbe2b283f6d21f4ddd611ac.

[2020-02-10 19:33] e-monson commented on #442
Thanks! Adding ember-fetch as a top-level dependency fixed it for me.

[2020-02-10 19:33] #442 closed

[2020-02-14 18:36] stefanpenner commented on #330
@ef4 Im perfectly good with this, I prefer that approach.

Questions:

* In this world, does ember-fetch provide said polyfill or something else
* Currently `import fetch from 'fetch';` is always the polyfill, to ensure that 100% compatibility between ie11. This is clearly not ideal, but the alternatives come with some risks. My thought was, once i11 is off our radar we re-eval
* Currently the pol

[2020-02-19 05:38] xg-wang commented on #391
@stefanpenner https://github.com/ember-cli/ember-fetch/pull/447 will be contradicting the request here to only log deprecation for newer ember-data versions. If we're going to drop the mixin, answer to this issue is to [manually silence the deprecation](https://api.emberjs.com/ember/release/functions/@ember%2Fdebug/registerDeprecationHandler) until ember-data upgrade is finished.

@mydea @Turbo87

[2020-02-19 07:59] mydea commented on #391
I guess that's OK, maybe not ideal but workable!

[2020-03-07 06:44] nlfurniss commented on #430
Seems good, can you put up a PR @LuisAverhoff?

[2020-03-29 03:07] #391 closed

[2020-03-29 03:09] xg-wang commented on #320
https://github.com/ember-cli/ember-fetch/releases/tag/v7.1.0 won't generate fastboot asset if `ember-cli-fasboot` isn't installed or skipped by env flag

[2020-03-29 03:09] #320 closed

[2020-03-29 03:11] #290 closed

[2020-03-30 08:49] Turbo87 opened #477 "Operation outputFileSync is not allowed to use"
After trying to update from v7.1.0 to v8.0.0 we started to see the error below when trying to build our app:

[code]

This is likely a downstream issue in one of the broccoli dependencies, but I thought I should open it here too, because the ember-fetch update triggered this for us.

@stefanpenner @SparshithNR  any clue what might be causing this?

[2020-03-30 16:36] stefanpenner commented on #477
cc @SparshithNR

[2020-03-30 16:47] SparshithNR commented on #477
Can you check the version of `broccoli-output-wrapper`? outputFileSync` is added in `v3.2.1`.

[2020-03-30 16:53] rwjblue commented on #477
I think this is basically what @bendemboski describes in https://github.com/broccolijs/broccoli-plugin/pull/50.

[2020-03-30 17:08] kpfefferle commented on #477
I can confirm that for our app, upgrading `broccoli-output-wrapper` sub-dependency to `3.2.1` fixes the error 👍

[2020-03-30 17:11] #477 closed

[2020-03-30 17:16] Turbo87 commented on #477
@stefanpenner why did you close the issue? is it fixed?

[2020-03-30 17:17] stefanpenner commented on #477
@Turbo87 yes it is fixed (broccoli-output-wrapper 3.2.0 -> 3.2.1) , please be sure that your lock file isn't retaining an old version of `broccoli-output-wrapper`

[2020-03-30 17:18] rwjblue commented on #477
@stefanpenner - This is still pretty tricky and easy to cause folks to stumble, I think we should land and release https://github.com/broccolijs/broccoli-plugin/pull/50 then bump our minimum version on broccoli-plugin here.

[2020-03-30 17:23] xg-wang commented on #477
FWIW this is the dependency chain: `ember-fetch` -> `broccoli-concat`|`broccoli-merge-trees` -> `broccoli-plugin` -> broccoli-output-wrapper`
[code]

[2020-03-30 17:26] stefanpenner commented on #477
broccoli-plugin released as v4.0.2 🎉

For those running into this issue, please ensure your dependencies are updated. Re-roll your lockfile, and all should be back to normal.

[2020-03-30 17:26] Turbo87 commented on #477
I agree with @rwjblue. It looks like the actual issue here is an outdated dependency specification somewhere. Asking people to cycle their lockfiles is just hiding the root cause 😉

[2020-03-30 17:28] stefanpenner commented on #477
@Turbo87  sorta, new users are unaffected. Users who don't update dependencies, will never see the fix. They must update dependencies.

I'll be sure to update broccoli-concat and merge-trees as well.

[2020-03-30 17:39] kpfefferle commented on #477
@stefanpenner Isn't it also the responsibility of library maintainers to specify versions of their dependencies that actually work with their library? If `ember-fetch@8.0.0` is using features that require `broccoli-output-wrapper@3.2.1` (and does NOT work with `broccoli-output-wrapper@3.2.0`), then shouldn't it's own dependency list specify dependency versions that are compatible? 🤔

[2020-03-30 17:41] stefanpenner commented on #477
@kpfefferle when practical, yes. But it isn't practical to validate that all permutations, and all transitive dependency permutations work. Especially when random regressions arise.

[2020-03-30 18:37] Turbo87 commented on #477
FWIW I disagree. I very much think that it is the responsibility of the libraries to declare correct dependency constraints.

[2020-03-30 18:42] stefanpenner commented on #477
@Turbo87 sounds fair, I welcome additional contributions to help keep up with that work load.

[2020-04-02 23:30] Redsandro opened #485 "Where are all the response headers?"
I'm looking for certain (custom) headers in a server response.

[code]

The response object contains three headers: `["cache-control", "content-type", "expires"]`.

There are however at least 10 headers in the actual response. You can see the request this function made in the Network tab of the Chrome or Firefox Developer Panel, and indeed it shows a dozen response headers.

How do I access these

[2020-04-06 19:02] hoIIer opened #486 "Inconsistent Headers objects with preferNative"
The readme has one line that mentions headers and how to import the Headers object:

`import fetch, { Headers, Request, Response, AbortController } from 'fetch';`

When using `preferNative: false` (default), the Headers object comes from the underlying polyfill lib and contains a key `.map` that stores the raw headers object.
https://github.com/github/fetch/blob/master/fetch.js#L79

When using `pr

[2020-04-06 23:29] burritoIand commented on #398
@rwwagner90 I created a barebones service that ~matches ember-ajax. It could be enhanced to add the other http aliases etc

[2020-04-06 23:31] rwwagner90 commented on #398
@burritoland we actually released an addon that is a full port of ember-Ajax to fetch. It’s https://github.com/expel-io/ember-ajax-fetch

[2020-04-06 23:36] burritoIand commented on #398
very nice, should we close this?

[2020-04-07 00:14] rwwagner90 commented on #398
Yep, closing.

[2020-04-07 00:14] #398 closed

[2020-04-27 03:29] xg-wang commented on #486
`Headers.map` is not documented https://github.github.io/fetch/#Headers. But it probably means a private field not intended being used. `ember-fetch` mentioned itself is a wrapper for fetch polyfill.
The `preferNative` option will let the imported APIs be native ones if exist.
When setting `preferNative=true`, is the expectation to return `undefined` when browser does not suppport `fetch` and `Hea

[2020-04-27 03:29] xg-wang commented on #485
Some response headers are not exposed to JavaScript, can you give an example what headers you are trying to access?

[2020-04-27 08:53] Redsandro commented on #485
Sorry, I forgot to update this issue. The problem is not with ember-fetch, it's a limitation of javascript/CORS. Like you say:

This is basically the answer. If I want to be able to see the other headers, the server needs to give permission with [`Access-Control-Expose-Headers`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Expose-Headers).

This is one of those "feature

[2020-04-27 08:53] #485 closed

[2020-05-26 05:32] BarryThePenguin commented on #330
Forcing the use of `import fetch from 'fetch';` prevents Ember apps from using other npm packages that rely on the global `fetch` API, along with `Response`, `Request`, `Headers`, etc..

This isn't just an issue for IE11, where `ember-fetch` doesn't polyfill the `fetch` global..

It's also an issue for libraries that expect the native `Response` object. For example..

[code]

[2020-08-08 00:45] cah-briangantzler opened #547 "fetch is not defined - maybe your browser targets are not covering everything you need"
I believe I have tracked the issue down to https://github.com/github/fetch. In version 3.1.1 it used to contain this https://github.com/github/fetch/blob/v3.1.1/fetch.js#L546 but in 3.2.0 it now contains this https://github.com/github/fetch/blob/v3.2.0/fetch.js#L564

Ember-fetch contains this check https://github.com/ember-cli/ember-fetch/blob/master/assets/browser-fetch.js.t#L36.  I believe the m

[2020-08-08 10:34] mrloop commented on #547
If your using `yarn` add this to your `package.json`

[code]
Looks like new release 3.4.0 of `whatwg-fetch` breaks ember-fetch

[2020-08-08 13:04] rwjblue commented on #547
Hmm, maybe this `global`:

https://github.com/ember-cli/ember-fetch/blob/612bfd0a3b09910385644d7fc7a5457c0df79cf0/assets/browser-fetch.js.t#L1

Is now conflicting with this?

https://github.com/github/fetch/blob/99b26818147a4288429fcd96421cf038dccbc1ac/fetch.js#L1-L4

[2020-08-08 13:06] rwjblue commented on #547
I did try to see if the tests here would fail with the latest versions of whatwg-fetch, and they do not (https://github.com/ember-cli/ember-fetch/pull/548).

Does anyone have a reproduction?

[2020-08-08 15:14] rwwagner90 commented on #547
All of my addons have started failing with `Error: fetch is not defined - maybe your browser targets are not covering everything you need?`. What's the workaround?

[2020-08-08 15:16] rwwagner90 commented on #547
This addon docs PR is currently throwing the error https://github.com/ember-learn/ember-cli-addon-docs/pull/495

[2020-08-08 15:25] rwwagner90 commented on #547
I can confirm adding this fixes the issue for addon docs:

[code]

Is there a fix we can add to ember-fetch so this is not necessary?

[2020-08-08 15:27] rwjblue commented on #547
Definitely. Once we know what is actually wrong 😃

We need a repro, and ideally to make this addons test suite fail like what is happening for realz...

[2020-08-08 15:34] cah-briangantzler commented on #547
https://github.com/bgantzler/fetch-app

Just a new application, install ember-fetch, create a controller and import fetch.   Will fail when you run the app

[2020-08-08 15:36] cah-briangantzler commented on #547
fails when you run the tests. They are the default blueprint tests unmodified

[2020-08-08 15:38] cah-briangantzler commented on #547
Oh and I resolved to the failing version using
[code]
just in case cause I saw a merge of a yarn.lock rollback

[2020-08-08 18:34] rwjblue commented on #547
Hmm, why aren't our own tests failing here then (if that is all that is needed)?

[2020-08-09 16:12] rwwagner90 commented on #547
@rwjblue perhaps importing `fetch` in tests does not do the same things as importing it in app code?

[2020-08-09 16:14] rwwagner90 commented on #547
Perhaps we should set this addon to explicitly use 3.3.1 until we have a fix?

[2020-08-09 16:22] cah-briangantzler commented on #547
For the simple app I have created above, running the test `ember t` does fail on the controller

[code]

[2020-08-09 16:24] cah-briangantzler commented on #547
Oh im sorry. I think I know what you mean. You mean ONLY importing fetch in tests.   Yes I believe you may be correct. If has something to do with the loader.

This is the initial post I made in discord help
[code]

[2020-08-09 16:36] cah-briangantzler commented on #547
I dont know if this helps, but on the repo I posted https://github.com/bgantzler/fetch-app if you switch to the branch acceptance (I just created), the fetch is no longer in the app, so the app no longer fails. It is no only imported in an acceptance test. And it fails there.

[2020-08-09 16:38] rwwagner90 commented on #547
Hmm, I have no idea why it doesn't fail in tests in this repo then. I think we should likely set to 3.3.1 explicitly until someone can figure out the real fix. @rwjblue thoughts on putting that in as a temporary patch?

[2020-08-09 16:52] cah-briangantzler commented on #547
During this addons test run, the ember-fetch in vendor doesnt have any code where the ` <%= moduleBody %>` is suppose to be
![image](https://user-images.githubusercontent.com/1529286/89737421-e0a5a100-da3e-11ea-9ff8-c0129dc7c2a5.png)

When when I run during my apps controller test (master) there is
![image](https://user-images.githubusercontent.com/1529286/89737462-25313c80-da3f-11ea-9be6-b8d16266

[2020-08-09 21:27] chancancode commented on #547
The tutorial builds are failing as well: https://github.com/ember-learn/super-rentals-tutorial/actions/runs/199896721

[2020-08-09 21:34] xg-wang commented on #547
Created a PR for failing CI.
It seems the `self -> global` name change [Rob mentioned](https://github.com/ember-cli/ember-fetch/issues/547#issuecomment-670926916) broke ember-fetch

[2020-08-10 00:09] rwwagner90 commented on #547
Nice, thanks @xg-wang! Looking forward to having this merged 😃

[2020-08-10 00:55] #547 closed

[2020-08-10 00:58] xg-wang commented on #547
@rwwagner90 no problem! Just released https://www.npmjs.com/package/ember-fetch/v/8.0.2

[2020-08-10 05:07] chancancode commented on #547
Tutorial build is fixed with #552 https://github.com/ember-learn/super-rentals-tutorial/actions/runs/201815359

[2020-08-11 06:16] EugeniaZhang commented on #547
![image](https://user-images.githubusercontent.com/26216304/89863534-db7e5880-dbdc-11ea-81ab-0bc7ab14339b.png)
"resolutions": {
  "whatwg-fetch": "3.4.0"
 }
 I use this did not resolved the question

[2020-08-11 11:18] rwwagner90 commented on #547
@EugeniaZhang that would not resolve the issue, as 3.4.0 is where the issue began. You would need:

[code]

However, version 8.0.2 of ember-fetch has a fix for this issue, so I would recommend updating to 8.0.2.

[2020-08-12 06:27] iamareebjamal commented on #547
Failing for 8.0.2 as well https://github.com/fossasia/open-event-frontend/pull/4732/files https://travis-ci.com/github/fossasia/open-event-frontend/builds/179380414

[2020-08-12 11:06] rwwagner90 commented on #547
@iamareebjamal maybe try `yarn upgrade`? If it's failing, something is likely still not using 8.0.2.

[2021-01-18 08:26] Turbo87 opened #585 "v8.0.3 contains `yarn-error.log` file"
It seems that the new v8.0.3 contains a `yarn-error.log` file by mistake, which should probably be added to the `.npmignore` file :)

[2021-01-18 14:55] #585 closed

[2021-03-19 14:33] rwjblue opened #600 "Ember 3.27+ issues deprecation for accessing `window.Ember`"
The code here:

https://github.com/ember-cli/ember-fetch/blob/eaf18b64fd86ac57a55861874d460a10a4ba151c/assets/browser-fetch.js.t#L4

Accesses `window.Ember`, which on Ember 3.27 and higher issues a deprecation.

[2021-03-19 14:44] rwjblue commented on #600
I think the best fix for this (that would support both older Ember and newer) would be to change our `.transpileTree` invocation to actually transpile modules for us:

https://github.com/ember-cli/ember-fetch/blob/eaf18b64fd86ac57a55861874d460a10a4ba151c/index.js#L124-L128

Then we'd change our `assets/browser-fetch.js.t` to just use ES6 imports for Ember.

[2021-04-20 08:48] tehmaestro commented on #547
I'm using ember-fetch 8.0.4 and still have this issue.

[2021-04-20 13:33] chriskrycho commented on #330
Following up on this (as I'm poking at some related things):

- If we want a "ponyfill" that supplies native if it exists or a polyfill if not, that's fine, but it should be from `ember-fetch` instead of `fetch` as the module import, for the reasons articulated a couple years ago.
- But also: this whole package is mostly irrelevant in a post-🔥 DIAF IE11 🔥 world, and should probably just be put int

[2021-04-20 15:40] xg-wang commented on #547
@tehmaestro can you paste the output of `yarn why whatwg-fetch` to tell us what's the versions you're using?

[2021-04-20 18:49] allthesignals commented on #547
<img width="498" alt="image" src="https://user-images.githubusercontent.com/5004319/115448382-a6a0b780-a1e7-11eb-8619-415163145d70.png">

yarn why whatwg-fetch
yarn why v1.22.4
[1/4] 🤔  Why do we have the module "whatwg-fetch"...?
[2/4] 🚚  Initialising dependency graph...
[3/4] 🔍  Finding dependency...
[4/4] 🚡  Calculating file sizes...
=> Found "whatwg-fetch@3.6.2"
info Reasons this module exists

[2021-04-20 19:30] tehmaestro commented on #547
Hey, turns out I was using `ember-simple-auth` version 2.1.0, which uses an older version of `ember-fetch` . I was able to fix the issue by upgrading `ember-simple-auth`

[2021-04-24 20:30] xg-wang commented on #330
`ember-fetch` also polyfills `AbortController` which isn't available on Safari until 12.1. https://caniuse.com/?search=abortcontroller the support has good coverage now.

IMO in a post (IE11 / Safari12) world, we should just move the fastboot support part into fastboot its own (maybe think about how we expose the isomorphic fetch API a bit more), and not rely on polyfill in the browser at all.

[2021-06-10 14:21] mydea opened #622 "Could not find module `rsvp` imported from `fetch`"
When trying to setup embroider for our app, I get this error:

[code]

I tried to also install `rsvp` (`yarn add rsvp --dev`) in my app but it didn't help.

[2021-06-10 15:02] rwjblue commented on #622
@mydea - What ember-source version?

[2021-06-10 15:06] mydea commented on #622
ember-source@3.27.3, and Embroider at 0.41.0.

[2021-06-10 15:07] mydea commented on #622
I played around with it a bit, trying to make it recognize `rsvp`, but couldn't get it to work. I ended up with this kind of workaround (which is decent I'd say, but also rather circumvents the problem) here: https://github.com/ember-cli/ember-fetch/pull/623

[2021-06-11 13:36] rwjblue commented on #622
Hmm, Embroider should be able to resolve `rsvp` module if imported directly. I wonder which of the compat flags you have setup? If you have most of the strictnesss / compat flags setup, I'd bet that the issue is that this isn't a "real" module (we are defining an AMD module) so it doesn't get replaced by the webpack require mechanism (and with strictness setup, we don't eagerly `define` all the mo

[2021-06-14 06:08] mydea commented on #622
It happens once I switch `staticAddonTrees` on!

[2021-06-15 15:53] #622 closed

[2021-06-17 15:16] mydea opened #624 "Version 8.1.0 not released to NPM?"
It seems that v8.1.0 is not released to NPM: https://www.npmjs.com/package/ember-fetch

[2021-06-18 05:02] nlfurniss commented on #624
@mydea [published](https://www.npmjs.com/package/ember-fetch/v/8.1.0)

[2021-06-18 05:02] #624 closed

[2021-06-18 10:28] rafaelpereznajera opened #625 "Migration from jquery.ajax $.ajaxSettings.traditional = true. How remove [] from params"
Migrating from jquery ajax to ember-fetch:

When the app sends queryParams that is type: 'array'.
For example: b = [ 1 , 2 , 3 ]
In jquery ajax settings when traditional = true  ->  b=1&b=2&b=3
In jquery ajax settings when traditional = false  -> b[]=1&b[]=2&b[]=3

In ember-fetch, there is no option traditional = true, always send params with []

Is there an option that I am missing ?

[2021-06-18 14:26] #87 closed

[2021-08-05 04:47] nlfurniss commented on #430
Closed via #636

[2021-08-05 04:47] #430 closed

[2021-08-05 17:09] nlfurniss opened #644 "Dropping Node 10, older versions of Ember"
Unless anyone objects, I'm going to update the expected Node version, plus drop old LTS versions of Ember. The old versions of Ember are blocking dependency bumps (ember-data, etc), converting the dummy app to Octane, etc.

Once that's done I'm going to spend some time getting tests running ember-canary (a.k.a v4) to pass.

cc @xg-wang @stefanpenner @rwjblue

[2021-09-08 04:41] rahulk94 commented on #321
Any updates on this? Just tried using the `preferNative` config option and still see it being polyfilled in browsers that don't need it (e.g. Chrome 92). Fwiw I've tried both v7.0.0 and v8.0.1.

[2021-09-08 08:17] sandstrom opened #656 "Archive this repo"
Now that Ember 4.0.0 is out and IE 11 is no longer supported, maybe it's easiest to just archive this repo, with a note in the readme explaining that it has served it's purpose.

People can still use it, but we shouldn't spend more time on it.

https://caniuse.com/fetch

[2021-09-08 11:24] nlfurniss commented on #321
Your build doesn’t meet the criteria for the polyfill to not be included

[2021-09-08 22:37] rahulk94 commented on #321
Hmmm the docs feel a bit misleading then?

If set to false, the polyfilled fetch will replace native fetch be there or not.

Makes it sound like this config option determines whether the polyfill should early exit and not be used if the browser already supports it.

Feels more like documentation around when the polyfill will be included in your bundle, not whether it's applied though.

Anywho than

[2021-09-08 23:30] nlfurniss commented on #321
Yup, totally see how this is not 100% clear. I'll put up a PR to clarify that the polyfill is included if any of the babel targets require `fetch`, and that it isn't impacted by which UA is loading the app/addon

[2021-09-13 23:31] robclancy commented on #656
Would this not still be useful because of the imports?

[2021-09-14 07:44] sandstrom commented on #656
@robclancy You don't have to import fetch in a modern browser. It's part of the standard library ([Web APIs](https://developer.mozilla.org/en-US/docs/Web/API)).

[2021-09-14 12:05] mansona commented on #656
I think this project would still have a large influence on fastboot apps 🤔  since fetch is a web api and it hasn't been added to V8 or Node. I don't know the specifics of this but I get the feeling that archiving this project would be a bit extreme

[2021-09-16 00:54] kboucher commented on #656
IE 11 is still supported and it will be at least another nine months before we can reasonably start dropping support for it. This request is premature.

[2022-01-31 03:08] ef4 commented on #330
[Node 18 is likely to add fetch](https://github.com/nodejs/undici/pull/1183).

[2022-03-20 22:03] #486 closed

[2022-04-28 10:49] raido opened #693 "Deprecation warning for assign() from ember/polyfills"
Example source of deprecation warning for assign() polyfill.

As this addon is included in default app blueprint, this brand new generated app starts off with deprecation warnings for Ember 4.x

https://github.com/ember-cli/ember-fetch/blob/eaf18b64fd86ac57a55861874d460a10a4ba151c/addon/utils/mung-options-for-fetch.ts#L1

[2022-04-29 13:53] raido commented on #656
I am not sure if this package can simply be deprecated without migration guide. I tried to remove it from my app with ember-concurrency tasks and the moment I switch to native fetch, we no longer have runloop wrapping and tests simply fail, because component instances etc. in tests don't wait for async things to finish.

Sure I can use https://github.com/emberjs/ember-test-waiters#waitforpromise-f

[2022-05-03 13:37] oliverlj opened #701 "Failed to execute 'fetch' on 'Window': Failed to read the 'signal' property from 'RequestInit': Failed to convert value to 'AbortSignal'."
I have this issue on project https://gitlab.com/c1560/cryptofiscafacile

we use go compiled in wasm with go-resty.
When I add to the project pollyjs, i have this issue.

If I remove this line
https://github.com/ember-cli/ember-fetch/blob/master/assets/browser-fetch.js.t#L16
The issue disappear.

I have set preferNative to true

[2022-06-02 02:26] NullVoxPopuli commented on #656
Node 16 or.. 17? Now has fetch. Is it time to archive?

[2022-06-02 03:51] ef4 commented on #656
Archiving this is not the actual work required. Somebody needs to ship the replacement that keeps everybody's test suites still working with the same behavior as before.

Probably that code should still just live in this package. The only change apps should be told to do is to delete the actual `import` statement. You would still want the ember-fetch dependency because it would:

 - during tests,

[2022-06-22 12:56] usamahamed opened #707 "ember-polyfills.deprecate-assign deprication in Ember 4.4"
I am currently upgrading Ember version to `4.4` and now i get this depreciation with id `ember-polyfills.deprecate-assign`

Seems it comes from `ember-fetch/addon/utils/mung-options-for-fetch.ts`

More info: https://deprecations.emberjs.com/v4.x/

versions
`ember-simple-auth`: `4.2.2`
`ember-source` and `ember-cli`: `4.4.0`
`npm`: `16.14.0`
`node`: `8.3.1`

[2022-06-30 17:30] simonihmig commented on #656
I believe that currently it would only properly integrate with the test waiters when using the import, not? That's at least how I read [this code](https://github.com/ember-cli/ember-fetch/blob/master/assets/browser-fetch.js.t#L55-L65)

Given that the addon
* uses so much broccoli magic (just look at [`index.js`](https://github.com/ember-cli/ember-fetch/blob/master/index.js))
* and other APIs that

[2022-07-03 18:52] ef4 commented on #656
Yes, that sounds good to me. So to roll this out we need to

1. Do the feature in ember/test-helpers to make it hook into global fetch.
(This work must be fastboot-compatible too).
2. Do a feature in fastboot that provides a fetch global on node versions
that don’t have it. This can be in the actual “fastboot” package. It can
use the same polyfill that ember-fetch was using.
3. Archive ember-fetch

[2022-08-12 00:15] Brunoporto2702 commented on #184
Do you know how to do that on a heroku server?

[2022-08-23 14:14] hmajoros opened #716 "ember-fetch `input` type parameter is incorrect"
the generic `fetch` method's input parameter is typed as `URL | RequestInfo`, but ember-fetch only types it as `RequestInfo`. This causes issues when passing `fetch` as a function parameter in typescript, because ember-fetch is not assignable to regular ol' fetch.

see this TS playground for example: [playground link](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAUxAIwVAYgmBjAFnAMyghDgHI

[2022-08-23 16:13] #716 closed

[2022-10-05 10:01] robinborst95 commented on #656
I have a question about the tests wrapping `fetch` in a test waiter, which is also why we use this addon. It might be worth filing a separate issue, but I think it's also relevant to mention in the context of this issue, because it has to do with the tests (not) waiting.

For testing, we use [`PollyJS`](https://github.com/Netflix/pollyjs), which also does some wrapping around the `fetch` function

[2022-10-31 19:36] runspired commented on #337
So while it is true that ember-fetch can be consumed by an app using embroider, it's also still true that it needs substantial changes to be truly compatible with embroider, we should likely reopen this.

For EmberData, we currently are forced to do the following which is not compatible with us converting to a v2 addon.

[code]

This is because `ember-fetch` manually splices `define("fetch", ` int

[2022-10-31 20:10] runspired commented on #337
this is the craziness that makes this not work with embroider v2 addons: https://github.com/ember-cli/ember-fetch/blob/master/index.js#L238-L269

#330 is highly related to this